.code-list-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(15, 12, 3) 0.00%,rgb(81, 16, 64) 100.00%);
}
.code-list-header-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.code-list-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 174px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.code-list-header {
  width: 100%;
  height: 174px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.code-list-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.code-list-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.code-list-navlink {
  color: rgb(33, 215, 226);
  width: 124px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.code-list-navlink:hover {
  color: #1baab3;
}
.code-list-navlink01 {
  color: #e0a61b;
  width: 165px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #e0a61b;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(38, 26, 8) 0.00%,rgb(81, 57, 15) 100.00%);
}
.code-list-navlink01:hover {
  color: #a17715;
}
.code-list-navlink02 {
  color: #dae221;
  width: 220px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #dae221;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(62, 68, 13) 0.00%,rgb(95, 102, 16) 100.00%);
}
.code-list-navlink02:hover {
  color: #9eab11;
}
.code-list-navlink03 {
  color: #378aec;
  width: 174px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #378aec;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 28, 38) 0.00%,rgb(15, 53, 81) 100.00%);
}
.code-list-navlink03:hover {
  color: #2a67af;
}
.code-list-navlink04 {
  color: #6ae221;
  width: 244px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #6ae221;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 38, 15) 0.00%,rgb(15, 81, 21) 100.00%);
}
.code-list-navlink04:hover {
  color: #489a17;
}
.code-list-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.code-list-burger-menu {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.code-list-menu1 {
  fill: #D9D9D9;
  color: var(--dl-color-turquoise-100);
  width: 24px;
  height: 24px;
  display: none;
  margin-left: var(--dl-space-space-unit);
}
.code-list-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.code-list-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.code-list-logo1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.code-list-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.code-list-icon3 {
  width: 24px;
  height: 24px;
}
.code-list-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.code-list-navlink05 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.code-list-navlink05:hover {
  color: var(--dl-color-turquoise-default);
}
.code-list-text:hover {
  color: var(--dl-color-turquoise-default);
}
.code-list-navlink06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.code-list-navlink06:hover {
  color: var(--dl-color-turquoise-default);
}
.code-list-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.code-list-navlink07 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.code-list-navlink07:hover {
  color: var(--dl-color-turquoise-default);
}
.code-list-navlink08 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.code-list-navlink08:hover {
  color: var(--dl-color-turquoise-default);
}
.code-list-text04 {
  color: rgb(95, 255, 254);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.code-list-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.code-list-bot {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.code-list-navlink09 {
  top: 12px;
  left: 12px;
  color: rgb(33, 215, 226);
  width: 180px;
  height: 58px;
  z-index: 105;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.code-list-navlink09:hover {
  color: #1baab3;
}
.code-list-main {
  width: 100%;
  height: 1582px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.code-list-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.code-list-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.code-list-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.code-list-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.code-list-text05 {
  align-self: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.code-list-text06 {
  color: #ffffff;
  font-size: 72px;
}
.code-list-text07 {
  color: #ffffff;
}
.code-list-text08 {
  color: #ffffff;
}
.code-list-text09 {
  color: #ffffff;
}
.code-list-text10 {
  color: #ffffff;
}
.code-list-text11 {
  color: #ffffff;
}
.code-list-text12 {
  color: #ffffff;
}
.code-list-text13 {
  color: #ffffff;
}
.code-list-text14 {
  color: #ffffff;
}
.code-list-text15 {
  color: #ffffff;
}
.code-list-text16 {
  color: #ff00f8;
}
.code-list-text17 {
  color: #ffffff;
}
.code-list-text18 {
  color: #ffffff;
}
.code-list-text19 {
  color: #ffffff;
}
.code-list-text20 {
  color: #ffffff;
}
.code-list-text21 {
  color: #ffffff;
}
.code-list-text22 {
  color: #ffffff;
}
.code-list-text23 {
  color: #ffffff;
}
.code-list-text24 {
  color: #ffffff;
}
.code-list-text25 {
  color: #ffffff;
}
.code-list-text26 {
  color: #ffffff;
}
.code-list-text27 {
  color: #ffffff;
}
.code-list-text28 {
  color: #ffffff;
}
.code-list-text29 {
  color: #ffffff;
}
.code-list-text30 {
  color: #ffffff;
}
.code-list-text31 {
  color: #ffffff;
}
.code-list-text32 {
  color: #ffffff;
}
.code-list-text33 {
  color: #ffffff;
}
.code-list-text34 {
  color: #ffffff;
}
.code-list-text35 {
  color: #ffffff;
}
.code-list-text36 {
  color: #ffffff;
}
.code-list-text37 {
  color: #ffffff;
}
.code-list-text38 {
  color: #ffffff;
}
.code-list-text39 {
  color: #ffffff;
}
.code-list-text40 {
  color: #ffffff;
}
.code-list-text41 {
  color: #ffffff;
}
.code-list-text42 {
  color: #ffffff;
}
.code-list-text43 {
  color: #ffffff;
}
.code-list-text44 {
  color: #ffffff;
}
.code-list-text45 {
  color: #ffffff;
}
.code-list-text46 {
  color: #ffffff;
}
.code-list-text47 {
  color: #ffffff;
}
.code-list-text48 {
  color: #ffffff;
}
.code-list-text49 {
  color: #ffffff;
}
.code-list-text50 {
  color: #ffffff;
}
.code-list-text51 {
  color: #ffffff;
}
.code-list-text52 {
  color: #ffffff;
}
.code-list-text53 {
  color: #ffffff;
}
.code-list-text54 {
  color: #ffffff;
}
.code-list-text55 {
  color: #ffffff;
}
.code-list-text56 {
  color: #ffffff;
}
.code-list-text57 {
  color: #ffffff;
}
.code-list-feature-card {
  width: 100%;
  height: 558px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.code-list-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.code-list-text58 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.code-list-link {
  display: contents;
}
.code-list-text61 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.code-list-text61:hover {
  color: #269b98;
}
.code-list-text62 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.code-list-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.code-list-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .code-list-container {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .code-list-main {
    height: 1776px;
  }
  .code-list-text05 {
    color: rgb(255, 255, 255);
  }
  .code-list-text06 {
    font-size: 72px;
  }
  .code-list-feature-card {
    height: 557px;
  }
  .code-list-text58 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Inter;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
  }
  .code-list-text61 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .code-list-turquoise-cirble1 {
    top: 623px;
    right: 1160px;
  }
  .code-list-turquoise-cirble2 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .code-list-text05 {
    color: rgb(255, 255, 255);
  }
  .code-list-text06 {
    font-size: 72px;
  }
  .code-list-feature-card {
    height: 518px;
    padding-top: 112px;
  }
  .code-list-text61 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 1024px) {
  .code-list-container2 {
    display: none;
  }
  .code-list-hero {
    height: auto;
    flex-direction: column;
  }
  .code-list-container3 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .code-list-text05 {
    text-align: center;
  }
  .code-list-turquoise-cirble1 {
    visibility: hidden;
  }
  .code-list-turquoise-cirble2 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .code-list-menu {
    display: none;
  }
  .code-list-burger-menu {
    display: block;
  }
  .code-list-text05 {
    font-size: 50px;
    text-align: center;
  }
  .code-list-feature-card {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .code-list-container2 {
    display: none;
  }
  .code-list-bot {
    width: 100%;
  }
  .code-list-text05 {
    color: rgb(255, 255, 255);
    width: 95%;
    height: 5000px;
  }
  .code-list-text06 {
    font-size: 72px;
  }
  .code-list-feature-card {
    height: 250%;
  }
  .code-list-container4 {
    height: auto;
  }
  .code-list-text58 {
    height: 100%;
  }
  .code-list-text61 {
    height: 100%;
    font-size: xx-small;
  }
}
