.cynxs-values-info-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(15, 12, 3) 0.00%,rgb(68, 55, 14) 100.00%);
}
.cynxs-values-info-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cynxs-values-info-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cynxs-values-info-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cynxs-values-info-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.cynxs-values-info-navlink {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.cynxs-values-info-navlink:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-navlink1 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.cynxs-values-info-navlink1:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-navlink2 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.cynxs-values-info-navlink2:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-navlink3 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.cynxs-values-info-navlink3:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-text {
  color: rgb(12, 249, 245);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.cynxs-values-info-text:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-text01:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-navlink4 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.cynxs-values-info-navlink4:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cynxs-values-info-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cynxs-values-info-menu1 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.cynxs-values-info-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.cynxs-values-info-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.cynxs-values-info-logo1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cynxs-values-info-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cynxs-values-info-icon3 {
  width: 24px;
  height: 24px;
}
.cynxs-values-info-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cynxs-values-info-navlink5 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.cynxs-values-info-navlink5:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-text03:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-navlink6 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.cynxs-values-info-navlink6:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-text05:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-navlink7 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.cynxs-values-info-navlink7:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-navlink8 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.cynxs-values-info-navlink8:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-text07 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.cynxs-values-info-text07:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-text08 {
  color: #ffffff;
  transition: 0.3s;
}
.cynxs-values-info-text08:hover {
  color: var(--dl-color-turquoise-default);
}
.cynxs-values-info-bot {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.cynxs-values-info-main {
  width: 100%;
  height: 1582px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cynxs-values-info-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.cynxs-values-info-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.cynxs-values-info-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cynxs-values-info-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cynxs-values-info-text09 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.cynxs-values-info-text10 {
  font-size: 72px;
}
.cynxs-values-info-text29 {
  font-size: 72px;
}
.cynxs-values-info-feature-card {
  width: 100%;
  height: 513px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.cynxs-values-info-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cynxs-values-info-text37 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.cynxs-values-info-link {
  display: contents;
}
.cynxs-values-info-text40 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.cynxs-values-info-text40:hover {
  color: #269b98;
}
.cynxs-values-info-text41 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.cynxs-values-info-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.cynxs-values-info-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .cynxs-values-info-container {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .cynxs-values-info-navlink2 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    text-decoration: underline;
  }
  .cynxs-values-info-text09 {
    color: rgb(255, 255, 255);
  }
  .cynxs-values-info-text10 {
    font-size: 72px;
  }
  .cynxs-values-info-text40 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .cynxs-values-info-turquoise-cirble1 {
    top: 623px;
    right: 1160px;
  }
  .cynxs-values-info-turquoise-cirble2 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .cynxs-values-info-navlink {
    color: #ffffff;
  }
  .cynxs-values-info-navlink1 {
    color: #ffffff;
  }
  .cynxs-values-info-navlink2 {
    color: #ffffff;
  }
  .cynxs-values-info-navlink3 {
    color: #ffffff;
  }
  .cynxs-values-info-text {
    color: #ffffff;
  }
  .cynxs-values-info-text01 {
    color: #ffffff;
  }
  .cynxs-values-info-navlink4 {
    color: #ffffff;
  }
  .cynxs-values-info-text09 {
    color: rgb(255, 255, 255);
  }
  .cynxs-values-info-text10 {
    font-size: 72px;
  }
  .cynxs-values-info-feature-card {
    height: 518px;
    padding-top: 112px;
  }
  .cynxs-values-info-text40 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 991px) {
  .cynxs-values-info-container1 {
    display: none;
  }
  .cynxs-values-info-hero {
    height: auto;
    flex-direction: column;
  }
  .cynxs-values-info-container2 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .cynxs-values-info-text09 {
    text-align: center;
  }
  .cynxs-values-info-turquoise-cirble1 {
    visibility: hidden;
  }
  .cynxs-values-info-turquoise-cirble2 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .cynxs-values-info-menu {
    display: none;
  }
  .cynxs-values-info-burger-menu {
    display: block;
  }
  .cynxs-values-info-text09 {
    font-size: 50px;
    text-align: center;
  }
  .cynxs-values-info-feature-card {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .cynxs-values-info-container1 {
    display: none;
  }
  .cynxs-values-info-bot {
    width: 100%;
  }
  .cynxs-values-info-text09 {
    color: rgb(255, 255, 255);
    width: 95%;
    height: 5000px;
  }
  .cynxs-values-info-text10 {
    font-size: 72px;
  }
  .cynxs-values-info-feature-card {
    height: 4000px;
    position: unset;
    visibility: hidden;
  }
  .cynxs-values-info-container3 {
    height: auto;
  }
  .cynxs-values-info-text40 {
    font-size: xx-small;
    max-height: 50%;
  }
}
