.donate-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(3, 14, 15) 0.00%,rgb(14, 68, 48) 98.00%);
}
.donate-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.donate-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.donate-navlink {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.donate-navlink:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-navlink01 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.donate-navlink01:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-navlink02 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.donate-navlink02:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-navlink03 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.donate-navlink03:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-navlink04 {
  color: rgb(12, 249, 245);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.donate-navlink04:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-text:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-navlink05 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.donate-navlink05:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-menu1 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.donate-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.donate-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.donate-logo1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donate-icon3 {
  width: 24px;
  height: 24px;
}
.donate-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donate-navlink06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.donate-navlink06:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-navlink07 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.donate-navlink07:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-navlink08 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.donate-navlink08:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-navlink09 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.donate-navlink09:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-text06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.donate-text06:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-text07 {
  color: #ffffff;
  transition: 0.3s;
}
.donate-text07:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-bot {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.donate-main {
  width: 100%;
  height: 1582px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donate-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.donate-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.donate-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donate-text08 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.donate-text09 {
  font-size: 72px;
}
.donate-text25 {
  font-size: 72px;
}
.donate-feature-card {
  width: 100%;
  height: 558px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.donate-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.donate-text30 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.donate-link {
  display: contents;
}
.donate-text33 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.donate-text33:hover {
  color: #269b98;
}
.donate-text34 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.donate-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.donate-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .donate-container {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .donate-navlink02 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    text-decoration: underline;
  }
  .donate-text08 {
    color: rgb(255, 255, 255);
  }
  .donate-text09 {
    font-size: 72px;
  }
  .donate-feature-card {
    height: 557px;
  }
  .donate-text30 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Inter;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
  }
  .donate-text33 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .donate-turquoise-cirble1 {
    top: 623px;
    right: 1160px;
  }
  .donate-turquoise-cirble2 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .donate-navlink {
    color: #ffffff;
  }
  .donate-navlink01 {
    color: #ffffff;
  }
  .donate-navlink02 {
    color: #ffffff;
  }
  .donate-navlink03 {
    color: #ffffff;
  }
  .donate-navlink04 {
    color: #ffffff;
  }
  .donate-text {
    color: #ffffff;
  }
  .donate-navlink05 {
    color: #ffffff;
  }
  .donate-text08 {
    color: rgb(255, 255, 255);
  }
  .donate-text09 {
    font-size: 72px;
  }
  .donate-feature-card {
    height: 518px;
    padding-top: 112px;
  }
  .donate-text33 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 991px) {
  .donate-container1 {
    display: none;
  }
  .donate-hero {
    height: auto;
    flex-direction: column;
  }
  .donate-container2 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .donate-text08 {
    text-align: center;
  }
  .donate-turquoise-cirble1 {
    visibility: hidden;
  }
  .donate-turquoise-cirble2 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .donate-menu {
    display: none;
  }
  .donate-burger-menu {
    display: block;
  }
  .donate-text08 {
    font-size: 50px;
    text-align: center;
  }
  .donate-feature-card {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .donate-container1 {
    display: none;
  }
  .donate-bot {
    width: 100%;
  }
  .donate-text08 {
    color: rgb(255, 255, 255);
    width: 95%;
    height: 5000px;
  }
  .donate-text09 {
    font-size: 72px;
  }
  .donate-feature-card {
    height: 250%;
  }
  .donate-container3 {
    height: auto;
  }
  .donate-text30 {
    height: 100%;
  }
  .donate-text33 {
    height: 100%;
    font-size: xx-small;
  }
}
