.donate-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(3, 14, 15) 0.00%,rgb(14, 68, 48) 98.00%);
}
.donate-header-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.donate-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 174px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.donate-header {
  width: 100%;
  height: 174px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-navlink {
  color: rgb(33, 215, 226);
  width: 124px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.donate-navlink:hover {
  color: #1baab3;
}
.donate-navlink01 {
  color: #e0a61b;
  width: 165px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #e0a61b;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(38, 26, 8) 0.00%,rgb(81, 57, 15) 100.00%);
}
.donate-navlink01:hover {
  color: #a17715;
}
.donate-navlink02 {
  color: #dae221;
  width: 220px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #dae221;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(62, 68, 13) 0.00%,rgb(95, 102, 16) 100.00%);
}
.donate-navlink02:hover {
  color: #9eab11;
}
.donate-navlink03 {
  color: #378aec;
  width: 174px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #378aec;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 28, 38) 0.00%,rgb(15, 53, 81) 100.00%);
}
.donate-navlink03:hover {
  color: #2a67af;
}
.donate-navlink04 {
  color: #6ae221;
  width: 244px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #6ae221;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 38, 15) 0.00%,rgb(15, 81, 21) 100.00%);
}
.donate-navlink04:hover {
  color: #489a17;
}
.donate-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-burger-menu {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-menu1 {
  fill: #D9D9D9;
  color: var(--dl-color-turquoise-100);
  width: 24px;
  height: 24px;
  display: none;
  margin-left: var(--dl-space-space-unit);
}
.donate-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.donate-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.donate-logo1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donate-icon3 {
  width: 24px;
  height: 24px;
}
.donate-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donate-navlink05 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.donate-navlink05:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-text:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-navlink06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.donate-navlink06:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-navlink07 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.donate-navlink07:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-navlink08 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.donate-navlink08:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-text04 {
  color: rgb(95, 255, 254);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.donate-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.donate-bot {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.donate-navlink09 {
  top: 12px;
  left: 12px;
  color: rgb(33, 215, 226);
  width: 180px;
  height: 58px;
  z-index: 105;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.donate-navlink09:hover {
  color: #1baab3;
}
.donate-main {
  width: 100%;
  height: 1582px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donate-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.donate-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.donate-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donate-text05 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.donate-text06 {
  font-size: 72px;
}
.donate-text22 {
  font-size: 72px;
}
.donate-feature-card {
  width: 100%;
  height: 558px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.donate-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.donate-text27 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.donate-link {
  display: contents;
}
.donate-text30 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.donate-text30:hover {
  color: #269b98;
}
.donate-text31 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.donate-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.donate-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .donate-container {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .donate-text05 {
    color: rgb(255, 255, 255);
  }
  .donate-text06 {
    font-size: 72px;
  }
  .donate-feature-card {
    height: 557px;
  }
  .donate-text27 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Inter;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
  }
  .donate-text30 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .donate-turquoise-cirble1 {
    top: 623px;
    right: 1160px;
  }
  .donate-turquoise-cirble2 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .donate-text05 {
    color: rgb(255, 255, 255);
  }
  .donate-text06 {
    font-size: 72px;
  }
  .donate-feature-card {
    height: 518px;
    padding-top: 112px;
  }
  .donate-text30 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 1024px) {
  .donate-container2 {
    display: none;
  }
  .donate-hero {
    height: auto;
    flex-direction: column;
  }
  .donate-container3 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .donate-text05 {
    text-align: center;
  }
  .donate-turquoise-cirble1 {
    visibility: hidden;
  }
  .donate-turquoise-cirble2 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .donate-menu {
    display: none;
  }
  .donate-burger-menu {
    display: block;
  }
  .donate-text05 {
    font-size: 50px;
    text-align: center;
  }
  .donate-feature-card {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .donate-container2 {
    display: none;
  }
  .donate-bot {
    width: 100%;
  }
  .donate-text05 {
    color: rgb(255, 255, 255);
    width: 95%;
    height: 5000px;
  }
  .donate-text06 {
    font-size: 72px;
  }
  .donate-feature-card {
    height: 250%;
  }
  .donate-container4 {
    height: auto;
  }
  .donate-text27 {
    height: 100%;
  }
  .donate-text30 {
    height: 100%;
    font-size: xx-small;
  }
}
