.error-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(15, 12, 3) 0.00%,rgb(87, 19, 19) 100.00%);
}
.error-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.error-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.error-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.error-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.error-navlink {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.error-navlink:hover {
  color: var(--dl-color-turquoise-default);
}
.error-navlink01 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.error-navlink01:hover {
  color: var(--dl-color-turquoise-default);
}
.error-navlink02 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.error-navlink02:hover {
  color: var(--dl-color-turquoise-default);
}
.error-navlink03 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.error-navlink03:hover {
  color: var(--dl-color-turquoise-default);
}
.error-navlink04 {
  color: rgb(12, 249, 245);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.error-navlink04:hover {
  color: var(--dl-color-turquoise-default);
}
.error-text:hover {
  color: var(--dl-color-turquoise-default);
}
.error-navlink05 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.error-navlink05:hover {
  color: var(--dl-color-turquoise-default);
}
.error-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.error-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.error-menu1 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.error-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.error-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.error-logo1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.error-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.error-icon3 {
  width: 24px;
  height: 24px;
}
.error-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.error-navlink06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.error-navlink06:hover {
  color: var(--dl-color-turquoise-default);
}
.error-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.error-navlink07 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.error-navlink07:hover {
  color: var(--dl-color-turquoise-default);
}
.error-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.error-navlink08 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.error-navlink08:hover {
  color: var(--dl-color-turquoise-default);
}
.error-navlink09 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.error-navlink09:hover {
  color: var(--dl-color-turquoise-default);
}
.error-text06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.error-text06:hover {
  color: var(--dl-color-turquoise-default);
}
.error-text07 {
  color: #ffffff;
  transition: 0.3s;
}
.error-text07:hover {
  color: var(--dl-color-turquoise-default);
}
.error-bot {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.error-main {
  width: 100%;
  height: 1058px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.error-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.error-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.error-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.error-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.error-text08 {
  align-self: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.error-text09 {
  color: #ffffff;
  font-size: 72px;
}
.error-text11 {
  color: #ffffff;
}
.error-text14 {
  color: #ffffff;
}
.error-text18 {
  color: #ffffff;
}
.error-feature-card {
  width: 100%;
  height: 558px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.error-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.error-text23 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.error-link {
  display: contents;
}
.error-text26 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.error-text26:hover {
  color: #269b98;
}
.error-text27 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.error-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.error-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .error-container {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .error-navlink02 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    text-decoration: underline;
  }
  .error-text08 {
    color: rgb(255, 255, 255);
  }
  .error-text09 {
    font-size: 72px;
  }
  .error-feature-card {
    height: 557px;
  }
  .error-text23 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Inter;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
  }
  .error-text26 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .error-turquoise-cirble1 {
    top: 623px;
    right: 1160px;
  }
  .error-turquoise-cirble2 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .error-navlink {
    color: #ffffff;
  }
  .error-navlink01 {
    color: #ffffff;
  }
  .error-navlink02 {
    color: #ffffff;
  }
  .error-navlink03 {
    color: #ffffff;
  }
  .error-navlink04 {
    color: #ffffff;
  }
  .error-text {
    color: #ffffff;
  }
  .error-navlink05 {
    color: #ffffff;
  }
  .error-text09 {
    color: #ffffff;
    font-size: 72px;
  }
  .error-text10 {
    color: #ffffff;
  }
  .error-text11 {
    color: #ffffff;
  }
  .error-text12 {
    color: #ffffff;
  }
  .error-text13 {
    color: #ffffff;
  }
  .error-text14 {
    color: #ffffff;
  }
  .error-text15 {
    color: #ffffff;
  }
  .error-text16 {
    color: #ffffff;
  }
  .error-text17 {
    color: #ffffff;
  }
  .error-text18 {
    color: #ffffff;
  }
  .error-text19 {
    color: #ffffff;
  }
  .error-text20 {
    color: #ffffff;
  }
  .error-text21 {
    color: #ffffff;
  }
  .error-text22 {
    color: #ffffff;
  }
  .error-feature-card {
    height: 518px;
    padding-top: 112px;
  }
  .error-text26 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 1024px) {
  .error-container1 {
    display: none;
  }
  .error-hero {
    height: auto;
    flex-direction: column;
  }
  .error-container2 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .error-text08 {
    text-align: center;
  }
  .error-turquoise-cirble1 {
    visibility: hidden;
  }
  .error-turquoise-cirble2 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .error-menu {
    display: none;
  }
  .error-burger-menu {
    display: block;
  }
  .error-text08 {
    font-size: 50px;
    text-align: center;
  }
  .error-feature-card {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .error-container1 {
    display: none;
  }
  .error-bot {
    width: 100%;
  }
  .error-text08 {
    color: rgb(255, 255, 255);
    width: 95%;
    height: 5000px;
  }
  .error-text09 {
    font-size: 72px;
  }
  .error-feature-card {
    height: 250%;
  }
  .error-container3 {
    height: auto;
  }
  .error-text23 {
    height: 100%;
  }
  .error-text26 {
    height: 100%;
    font-size: xx-small;
  }
}
