.event-egg-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(0, 0, 0) 1.00%,rgb(88, 19, 74) 100.00%);
}
.event-egg-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.event-egg-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.event-egg-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.event-egg-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.event-egg-navlink {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.event-egg-navlink:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-navlink01 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.event-egg-navlink01:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-navlink02 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.event-egg-navlink02:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-navlink03 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.event-egg-navlink03:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-navlink04 {
  color: rgb(12, 249, 245);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.event-egg-navlink04:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-text:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-navlink05 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.event-egg-navlink05:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.event-egg-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.event-egg-menu1 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.event-egg-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.event-egg-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.event-egg-logo1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.event-egg-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.event-egg-icon3 {
  width: 24px;
  height: 24px;
}
.event-egg-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.event-egg-navlink06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.event-egg-navlink06:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-navlink07 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.event-egg-navlink07:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-navlink08 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.event-egg-navlink08:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-navlink09 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.event-egg-navlink09:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-text06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.event-egg-text06:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-text07 {
  color: #ffffff;
  transition: 0.3s;
}
.event-egg-text07:hover {
  color: var(--dl-color-turquoise-default);
}
.event-egg-bot {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.event-egg-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.event-egg-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.event-egg-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.event-egg-text08 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.event-egg-text09 {
  font-size: 72px;
}
.event-egg-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.event-egg-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.event-egg-purple-circle1 {
  top: -26px;
  left: 204px;
  width: 400px;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.event-egg-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.event-egg-feature-card {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.event-egg-container3 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.event-egg-text19 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.event-egg-text20 {
  color: #d1d8ea;
}
.event-egg-text21 {
  color: #d6b01c;
}
.event-egg-text22 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.event-egg-text23 {
  color: #6be01d;
}
.event-egg-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 154px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.event-egg-purple-circle2 {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.event-egg-purple-circle3 {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.event-egg-text24 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.event-egg-feature-card1 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: center;
  align-items: flex-start;
  padding-top: 1rem;
  flex-direction: row;
  justify-content: center;
}
.event-egg-container4 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.event-egg-text25 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.event-egg-text28 {
  color: #d1d8ea;
}
.event-egg-text29 {
  color: #d6b01c;
}
.event-egg-text30 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.event-egg-text31 {
  color: #6be01d;
}
.event-egg-text32 {
  color: rgb(209, 216, 234);
  align-self: flex-start;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.event-egg-feature-card2 {
  width: 100%;
  height: 558px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.event-egg-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.event-egg-text33 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.event-egg-link {
  display: contents;
}
.event-egg-text36 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.event-egg-text36:hover {
  color: #269b98;
}
.event-egg-text37 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.event-egg-turquoise-cirble3 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.event-egg-turquoise-cirble4 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .event-egg-container {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .event-egg-navlink02 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    text-decoration: underline;
  }
  .event-egg-text08 {
    color: rgb(255, 255, 255);
  }
  .event-egg-text09 {
    font-size: 72px;
  }
  .event-egg-feature-card {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .event-egg-text19 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .event-egg-text22 {
    color: rgb(155, 147, 42);
  }
  .event-egg-text24 {
    top: 0px;
    left: 0px;
    color: rgb(209, 216, 234);
    right: 0px;
    margin: auto;
    position: absolute;
    font-weight: 600;
  }
  .event-egg-feature-card1 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .event-egg-text25 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .event-egg-text30 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .event-egg-text32 {
    top: 0px;
    left: 0px;
    color: rgb(209, 216, 234);
    right: 0px;
    margin: auto;
    position: absolute;
    font-weight: 600;
  }
  .event-egg-feature-card2 {
    height: 557px;
  }
  .event-egg-text33 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Inter;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
  }
  .event-egg-text36 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .event-egg-turquoise-cirble3 {
    top: 623px;
    right: 1160px;
  }
  .event-egg-turquoise-cirble4 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .event-egg-navlink {
    color: #ffffff;
  }
  .event-egg-navlink01 {
    color: #ffffff;
  }
  .event-egg-navlink02 {
    color: #ffffff;
  }
  .event-egg-navlink03 {
    color: #ffffff;
  }
  .event-egg-navlink04 {
    color: #ffffff;
  }
  .event-egg-text {
    color: #ffffff;
  }
  .event-egg-navlink05 {
    color: #ffffff;
  }
  .event-egg-text08 {
    color: rgb(255, 255, 255);
  }
  .event-egg-text09 {
    font-size: 72px;
  }
  .event-egg-feature-card {
    height: 325px;
  }
  .event-egg-text19 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .event-egg-text24 {
    color: rgb(209, 216, 234);
    width: 333px;
    height: 39px;
    align-self: center;
  }
  .event-egg-feature-card1 {
    height: 313px;
  }
  .event-egg-text25 {
    color: rgb(209, 216, 234);
  }
  .event-egg-text32 {
    color: rgb(209, 216, 234);
    width: 333px;
    height: 39px;
    align-self: center;
  }
  .event-egg-feature-card2 {
    height: 518px;
    padding-top: 112px;
  }
  .event-egg-text36 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 1024px) {
  .event-egg-container1 {
    display: none;
  }
  .event-egg-hero {
    height: auto;
    flex-direction: column;
  }
  .event-egg-container2 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .event-egg-text08 {
    text-align: center;
  }
  .event-egg-text19 {
    font-weight: 600;
  }
  .event-egg-text24 {
    font-weight: 600;
  }
  .event-egg-text25 {
    font-weight: 600;
  }
  .event-egg-text32 {
    font-weight: 600;
  }
  .event-egg-turquoise-cirble3 {
    visibility: hidden;
  }
  .event-egg-turquoise-cirble4 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .event-egg-menu {
    display: none;
  }
  .event-egg-burger-menu {
    display: block;
  }
  .event-egg-text08 {
    font-size: 50px;
    text-align: center;
  }
  .event-egg-feature-card {
    height: 500px;
    flex-direction: row;
  }
  .event-egg-container3 {
    flex-direction: column;
  }
  .event-egg-feature-card1 {
    height: 500px;
    flex-direction: row;
  }
  .event-egg-container4 {
    flex-direction: column;
  }
  .event-egg-feature-card2 {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .event-egg-container1 {
    display: none;
  }
  .event-egg-bot {
    width: 100%;
  }
  .event-egg-text08 {
    color: rgb(255, 255, 255);
    width: 95%;
  }
  .event-egg-text09 {
    font-size: 72px;
  }
  .event-egg-feature-card {
    height: 600px;
    font-size: 120;
    flex-direction: row;
  }
  .event-egg-container3 {
    font-size: 30%;
    flex-direction: column;
  }
  .event-egg-feature-card1 {
    height: 600px;
    font-size: 120;
    flex-direction: row;
  }
  .event-egg-container4 {
    font-size: 30%;
    flex-direction: column;
  }
  .event-egg-feature-card2 {
    height: 250%;
  }
  .event-egg-container5 {
    height: auto;
  }
  .event-egg-text33 {
    height: 100%;
  }
  .event-egg-text36 {
    height: 100%;
    font-size: xx-small;
  }
}
