.index-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(0, 0, 0) 1.00%,rgb(19, 80, 88) 100.00%);
}
.index-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.index-navlink {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.index-navlink:hover {
  color: var(--dl-color-turquoise-default);
}
.index-navlink01 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.index-navlink01:hover {
  color: var(--dl-color-turquoise-default);
}
.index-navlink02 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.index-navlink02:hover {
  color: var(--dl-color-turquoise-default);
}
.index-navlink03 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.index-navlink03:hover {
  color: var(--dl-color-turquoise-default);
}
.index-navlink04 {
  color: rgb(12, 249, 245);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.index-navlink04:hover {
  color: var(--dl-color-turquoise-default);
}
.index-text:hover {
  color: var(--dl-color-turquoise-default);
}
.index-navlink05 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.index-navlink05:hover {
  color: var(--dl-color-turquoise-default);
}
.index-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-burger-menu {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-menu1 {
  fill: #D9D9D9;
  color: var(--dl-color-turquoise-100);
  width: 24px;
  height: 24px;
  display: none;
  margin-left: var(--dl-space-space-unit);
}
.index-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.index-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.index-logo1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-icon03 {
  width: 24px;
  height: 24px;
}
.index-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-navlink06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.index-navlink06:hover {
  color: var(--dl-color-turquoise-default);
}
.index-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.index-navlink07 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.index-navlink07:hover {
  color: var(--dl-color-turquoise-default);
}
.index-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.index-navlink08 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.index-navlink08:hover {
  color: var(--dl-color-turquoise-default);
}
.index-navlink09 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.index-navlink09:hover {
  color: var(--dl-color-turquoise-default);
}
.index-navlink10 {
  color: rgb(95, 255, 254);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.index-navlink10:hover {
  color: var(--dl-color-turquoise-default);
}
.index-bot {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.index-feature-card {
  width: 100%;
  height: 585px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  border-color: var(--dl-color-gray-900);
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.index-text06 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-text07 {
  font-size: 72px;
}
.index-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(5, 17, 25) 0.00%,rgb(44, 62, 80) 100.00%);
}
.index-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.index-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.index-container2 {
  width: 100%;
  height: 640px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-navlink11 {
  display: contents;
}
.index-text18 {
  color: rgb(19, 227, 223);
  width: 80%;
  font-size: small;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.index-text18:hover {
  color: #20a4a7;
}
.index-navlink12 {
  display: contents;
}
.index-text21 {
  color: rgb(19, 227, 223);
  width: 80%;
  font-size: small;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.index-text21:hover {
  color: #20a4a7;
}
.index-navlink13 {
  display: contents;
}
.index-text24 {
  color: rgb(19, 227, 223);
  width: 80%;
  font-size: small;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.index-text24:hover {
  color: #20a4a7;
}
.index-navlink14 {
  display: contents;
}
.index-text27 {
  color: rgb(200, 129, 28);
  width: 80%;
  font-size: small;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.index-text27:hover {
  color: #885715;
}
.index-navlink15 {
  display: contents;
}
.index-text30 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.index-text30:hover {
  color: #20a4a7;
}
.index-navlink16 {
  display: contents;
}
.index-text33 {
  color: rgb(19, 227, 223);
  width: 80%;
  font-size: small;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.index-text33:hover {
  color: #20a4a7;
}
.index-navlink17 {
  display: contents;
}
.index-text36 {
  color: #5ee313;
  width: 80%;
  font-size: small;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.index-text36:hover {
  color: #44a50c;
}
.index-feature-card1 {
  width: 100%;
  height: 300px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.index-text39 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: small;
  text-align: center;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.index-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.index-purple-circle1 {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.index-feature-card2 {
  width: 100%;
  height: 428px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-end;
  padding-top: 79px;
  flex-direction: column;
  justify-content: center;
}
.index-purple-circle2 {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.index-purple-circle3 {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.index-purple-circle4 {
  left: 63px;
  width: 400px;
  bottom: -15px;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.index-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-container6 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-feature-card3 {
  width: 100%;
  height: 300px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.index-text42 {
  color: #ffffff;
  width: 80%;
  font-size: small;
  text-align: center;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-turquoise-cirble3 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.index-turquoise-cirble4 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.index-purple-circle5 {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.index-feature-card4 {
  width: 100%;
  height: 513px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.index-container7 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-text45 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.index-link {
  display: contents;
}
.index-text48 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.index-text48:hover {
  color: #269b98;
}
.index-text49 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.index-turquoise-cirble5 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.index-turquoise-cirble6 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.index-icon05 {
  width: 24px;
  height: 24px;
}
.index-icon09 {
  width: 24px;
  height: 24px;
}
@media(max-width: 1600px) {
  .index-navlink02 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    text-decoration: underline;
  }
  .index-text06 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
  }
  .index-text07 {
    font-size: 72px;
  }
  .index-text18 {
    color: #13e3df;
    font-size: small;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .index-text21 {
    color: #13e3df;
    font-size: small;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .index-text24 {
    color: #13e3df;
    font-size: small;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .index-text27 {
    color: #13e3df;
    font-size: small;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .index-text30 {
    color: #13e3df;
    font-size: small;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .index-text33 {
    color: #13e3df;
    font-size: small;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .index-text36 {
    color: #5ee313;
    font-size: small;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .index-text39 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .index-turquoise-cirble1 {
    top: 623px;
    right: 1160px;
  }
  .index-turquoise-cirble2 {
    top: 623px;
    right: 1160px;
  }
  .index-purple-circle1 {
    top: -340px;
    left: -51px;
    position: absolute;
  }
  .index-purple-circle2 {
    top: -90px;
    right: 11px;
  }
  .index-purple-circle3 {
    left: 101px;
    bottom: -10px;
    position: absolute;
  }
  .index-purple-circle4 {
    left: 101px;
    bottom: -10px;
    position: absolute;
  }
  .index-text42 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .index-turquoise-cirble3 {
    top: 623px;
    right: 1160px;
  }
  .index-turquoise-cirble4 {
    top: 623px;
    right: 1160px;
  }
  .index-purple-circle5 {
    top: -340px;
    left: -51px;
    position: absolute;
  }
  .index-text48 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .index-turquoise-cirble5 {
    top: 623px;
    right: 1160px;
  }
  .index-turquoise-cirble6 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .index-navlink {
    color: #ffffff;
  }
  .index-navlink01 {
    color: #ffffff;
  }
  .index-navlink02 {
    color: #ffffff;
  }
  .index-navlink03 {
    color: #ffffff;
  }
  .index-navlink04 {
    color: #ffffff;
  }
  .index-text {
    color: #ffffff;
  }
  .index-navlink05 {
    color: #ffffff;
  }
  .index-feature-card {
    height: 518px;
    padding-top: 112px;
  }
  .index-text06 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .index-text07 {
    font-size: 72px;
    font-family: Montserrat;
  }
  .index-text08 {
    font-family: Montserrat;
  }
  .index-text09 {
    font-family: Montserrat;
  }
  .index-text10 {
    font-family: Montserrat;
  }
  .index-text11 {
    font-family: Montserrat;
  }
  .index-text12 {
    font-family: Montserrat;
  }
  .index-text13 {
    font-family: Montserrat;
  }
  .index-text14 {
    font-family: Montserrat;
  }
  .index-text15 {
    font-family: Montserrat;
  }
  .index-text16 {
    font-family: Montserrat;
  }
  .index-text18 {
    color: #13e3df;
    text-align: center;
  }
  .index-text21 {
    color: #13e3df;
    text-align: center;
  }
  .index-text24 {
    color: #13e3df;
    text-align: center;
  }
  .index-text27 {
    color: #13e3df;
    text-align: center;
  }
  .index-text30 {
    color: #13e3df;
    text-align: center;
  }
  .index-text33 {
    color: #13e3df;
    text-align: center;
  }
  .index-text36 {
    color: #5ee313;
    text-align: center;
  }
  .index-feature-card1 {
    height: 518px;
    padding-top: 112px;
  }
  .index-text39 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .index-purple-circle1 {
    top: -344px;
    left: -213px;
  }
  .index-feature-card2 {
    height: 518px;
    padding-top: 112px;
  }
  .index-purple-circle3 {
    top: -104px;
    left: -61px;
  }
  .index-purple-circle4 {
    left: -61px;
    bottom: -6px;
  }
  .index-feature-card3 {
    height: 518px;
    padding-top: 112px;
  }
  .index-text42 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .index-purple-circle5 {
    top: -344px;
    left: -213px;
  }
  .index-feature-card4 {
    height: 518px;
    padding-top: 112px;
  }
  .index-text48 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 991px) {
  .index-container1 {
    display: none;
  }
  .index-turquoise-cirble1 {
    visibility: hidden;
  }
  .index-turquoise-cirble2 {
    visibility: hidden;
  }
  .index-purple-circle1 {
    visibility: hidden;
  }
  .index-purple-circle2 {
    visibility: hidden;
  }
  .index-purple-circle3 {
    visibility: hidden;
  }
  .index-purple-circle4 {
    visibility: hidden;
  }
  .index-turquoise-cirble3 {
    visibility: hidden;
  }
  .index-turquoise-cirble4 {
    visibility: hidden;
  }
  .index-purple-circle5 {
    visibility: hidden;
  }
  .index-turquoise-cirble5 {
    visibility: hidden;
  }
  .index-turquoise-cirble6 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .index-menu {
    display: none;
  }
  .index-burger-menu {
    display: block;
  }
  .index-feature-card {
    flex-direction: row;
  }
  .index-turquoise-cirble {
    visibility: hidden;
    padding-left: 0px;
  }
  .index-purple-circle {
    width: 196px;
    height: 229px;
  }
  .index-text18 {
    align-self: center;
  }
  .index-feature-card1 {
    flex-direction: row;
  }
  .index-feature-card2 {
    flex-direction: row;
  }
  .index-feature-card3 {
    flex-direction: row;
  }
  .index-feature-card4 {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .index-container1 {
    display: none;
  }
  .index-bot {
    width: 100%;
  }
  .index-feature-card {
    height: 888px;
  }
  .index-text06 {
    height: 689px;
    font-size: small;
  }
  .index-text18 {
    align-items: center;
  }
  .index-text21 {
    align-items: center;
  }
  .index-text24 {
    align-self: center;
    align-items: center;
  }
  .index-text27 {
    align-items: center;
  }
  .index-text30 {
    align-items: center;
  }
  .index-text33 {
    align-items: center;
  }
  .index-text36 {
    align-items: center;
  }
  .index-feature-card1 {
    height: 1450px;
  }
  .index-text39 {
    height: 100%;
    font-size: xx-small;
  }
  .index-feature-card2 {
    height: 2000px;
    align-self: center;
  }
  .index-purple-circle4 {
    visibility: hidden;
  }
  .index-container5 {
    left: 16px;
    bottom: 16px;
    position: absolute;
  }
  .index-container6 {
    position: relative;
  }
  .index-feature-card3 {
    height: 1450px;
  }
  .index-text42 {
    height: 100%;
    font-size: xx-small;
  }
  .index-feature-card4 {
    height: 250%;
  }
  .index-container7 {
    height: auto;
  }
  .index-text45 {
    height: 100%;
  }
  .index-text48 {
    height: 100%;
    font-size: xx-small;
  }
}
