.l-b-pets-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(0, 0, 0) 1.00%,rgb(14, 68, 22) 100.00%);
}
.l-b-pets-header-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.l-b-pets-container01 {
  flex: 0 0 auto;
  width: auto;
  height: 174px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.l-b-pets-header {
  width: 100%;
  height: 174px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.l-b-pets-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.l-b-pets-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.l-b-pets-navlink {
  color: rgb(33, 215, 226);
  width: 124px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.l-b-pets-navlink:hover {
  color: #1baab3;
}
.l-b-pets-navlink01 {
  color: #e0a61b;
  width: 165px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #e0a61b;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(38, 26, 8) 0.00%,rgb(81, 57, 15) 100.00%);
}
.l-b-pets-navlink01:hover {
  color: #a17715;
}
.l-b-pets-navlink02 {
  color: #dae221;
  width: 220px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #dae221;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(62, 68, 13) 0.00%,rgb(95, 102, 16) 100.00%);
}
.l-b-pets-navlink02:hover {
  color: #9eab11;
}
.l-b-pets-navlink03 {
  color: #378aec;
  width: 174px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #378aec;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 28, 38) 0.00%,rgb(15, 53, 81) 100.00%);
}
.l-b-pets-navlink03:hover {
  color: #2a67af;
}
.l-b-pets-navlink04 {
  color: #6ae221;
  width: 244px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #6ae221;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 38, 15) 0.00%,rgb(15, 81, 21) 100.00%);
}
.l-b-pets-navlink04:hover {
  color: #489a17;
}
.l-b-pets-container02 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.l-b-pets-burger-menu {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.l-b-pets-menu1 {
  fill: #D9D9D9;
  color: var(--dl-color-turquoise-100);
  width: 24px;
  height: 24px;
  display: none;
  margin-left: var(--dl-space-space-unit);
}
.l-b-pets-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.l-b-pets-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.l-b-pets-logo1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.l-b-pets-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.l-b-pets-icon3 {
  width: 24px;
  height: 24px;
}
.l-b-pets-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.l-b-pets-navlink05 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.l-b-pets-navlink05:hover {
  color: var(--dl-color-turquoise-default);
}
.l-b-pets-text:hover {
  color: var(--dl-color-turquoise-default);
}
.l-b-pets-navlink06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.l-b-pets-navlink06:hover {
  color: var(--dl-color-turquoise-default);
}
.l-b-pets-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.l-b-pets-navlink07 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.l-b-pets-navlink07:hover {
  color: var(--dl-color-turquoise-default);
}
.l-b-pets-navlink08 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.l-b-pets-navlink08:hover {
  color: var(--dl-color-turquoise-default);
}
.l-b-pets-text04 {
  color: rgb(95, 255, 254);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.l-b-pets-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.l-b-pets-bot {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.l-b-pets-navlink09 {
  top: 12px;
  left: 12px;
  color: rgb(33, 215, 226);
  width: 180px;
  height: 58px;
  z-index: 105;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.l-b-pets-navlink09:hover {
  color: #1baab3;
}
.l-b-pets-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.l-b-pets-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.l-b-pets-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.l-b-pets-text05 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.l-b-pets-text06 {
  font-size: 72px;
}
.l-b-pets-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.l-b-pets-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.l-b-pets-feature-card {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.l-b-pets-container04 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text13 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text14 {
  color: #27f310;
}
.l-b-pets-text15 {
  color: #1cd6c5;
}
.l-b-pets-container05 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text16 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text17 {
  color: #27f310;
}
.l-b-pets-container06 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text18 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text19 {
  color: #27f310;
}
.l-b-pets-text20 {
  color: #f3ec10;
}
.l-b-pets-container07 {
  width: 341px;
  height: 42px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text21 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-feature-card1 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.l-b-pets-container08 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text22 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text23 {
  color: #27f310;
}
.l-b-pets-text24 {
  color: #1cd6c5;
}
.l-b-pets-container09 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text25 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text26 {
  color: #27f310;
}
.l-b-pets-container10 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text27 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text28 {
  color: #27f310;
}
.l-b-pets-container11 {
  width: 352px;
  height: 45px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text29 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-feature-card2 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.l-b-pets-container12 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text30 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text31 {
  color: #27f310;
}
.l-b-pets-text32 {
  color: #1cd6c5;
}
.l-b-pets-container13 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text33 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text34 {
  color: #27f310;
}
.l-b-pets-container14 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text35 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text36 {
  color: #27f310;
}
.l-b-pets-text37 {
  color: #d1d8ea;
  align-self: flex-start;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-feature-card3 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.l-b-pets-container15 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text38 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text39 {
  color: #27f310;
}
.l-b-pets-text40 {
  color: #1cd6c5;
}
.l-b-pets-container16 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  margin-right: auto;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text41 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text42 {
  color: #27f310;
}
.l-b-pets-text43 {
  color: #f3ec10;
}
.l-b-pets-container17 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text44 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text45 {
  color: #27f310;
}
.l-b-pets-text46 {
  color: #f3ec10;
}
.l-b-pets-text47 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-feature-card4 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.l-b-pets-container18 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text48 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text49 {
  color: #27f310;
}
.l-b-pets-text50 {
  color: #1cd6c5;
}
.l-b-pets-container19 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text51 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text52 {
  color: #27f310;
}
.l-b-pets-text53 {
  color: #f3ec10;
}
.l-b-pets-container20 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text54 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text55 {
  color: #27f310;
}
.l-b-pets-text56 {
  color: #f310e3;
}
.l-b-pets-container21 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 352px;
  height: 112px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text57 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-feature-card5 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.l-b-pets-container22 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text58 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text59 {
  color: #27f310;
}
.l-b-pets-text60 {
  color: #1cd6c5;
}
.l-b-pets-text61 {
  color: #c512ef;
}
.l-b-pets-container23 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text62 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text63 {
  color: #27f310;
}
.l-b-pets-text64 {
  color: #c512ef;
}
.l-b-pets-container24 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text65 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-text66 {
  color: #27f310;
}
.l-b-pets-text67 {
  color: #f3ec10;
}
.l-b-pets-text68 {
  color: #c512ef;
}
.l-b-pets-container25 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 325px;
  height: 42px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.l-b-pets-text69 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.l-b-pets-feature-card6 {
  width: 100%;
  height: 558px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.l-b-pets-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.l-b-pets-text70 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.l-b-pets-link {
  display: contents;
}
.l-b-pets-text73 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.l-b-pets-text73:hover {
  color: #269b98;
}
.l-b-pets-text74 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.l-b-pets-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.l-b-pets-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .l-b-pets-container {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .l-b-pets-text05 {
    color: rgb(255, 255, 255);
  }
  .l-b-pets-text06 {
    font-size: 72px;
  }
  .l-b-pets-feature-card {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .l-b-pets-container07 {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .l-b-pets-text21 {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
  }
  .l-b-pets-feature-card1 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .l-b-pets-container11 {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .l-b-pets-text29 {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
  }
  .l-b-pets-feature-card2 {
    width: 90%;
    height: 350px;
  }
  .l-b-pets-text37 {
    top: 0px;
    left: 0px;
    color: rgb(209, 216, 234);
    right: 0px;
    margin: auto;
    position: absolute;
    font-weight: 600;
  }
  .l-b-pets-feature-card3 {
    width: 90%;
    height: 350px;
  }
  .l-b-pets-text47 {
    top: 0px;
    left: 0px;
    color: rgb(209, 216, 234);
    right: 0px;
    margin: auto;
    position: absolute;
    font-weight: 600;
  }
  .l-b-pets-feature-card4 {
    width: 90%;
    height: 350px;
  }
  .l-b-pets-container21 {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .l-b-pets-text57 {
    top: 0px;
    left: 0px;
    color: rgb(209, 216, 234);
    right: 0px;
    margin: auto;
    position: absolute;
    font-weight: 600;
  }
  .l-b-pets-feature-card5 {
    width: 90%;
    height: 350px;
  }
  .l-b-pets-container25 {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .l-b-pets-text69 {
    top: 0px;
    left: 0px;
    color: rgb(209, 216, 234);
    right: 0px;
    margin: auto;
    position: absolute;
    font-weight: 600;
  }
  .l-b-pets-feature-card6 {
    height: 557px;
  }
  .l-b-pets-text70 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Inter;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
  }
  .l-b-pets-text73 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .l-b-pets-turquoise-cirble1 {
    top: 623px;
    right: 1160px;
  }
  .l-b-pets-turquoise-cirble2 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .l-b-pets-text05 {
    color: rgb(255, 255, 255);
  }
  .l-b-pets-text06 {
    font-size: 72px;
  }
  .l-b-pets-feature-card {
    height: 325px;
  }
  .l-b-pets-text13 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .l-b-pets-text16 {
    color: rgb(209, 216, 234);
  }
  .l-b-pets-text18 {
    color: rgb(209, 216, 234);
  }
  .l-b-pets-container07 {
    top: 2px;
    left: 441px;
    width: 179px;
    height: 54px;
  }
  .l-b-pets-text21 {
    color: rgb(209, 216, 234);
    width: 333px;
    height: 39px;
    align-self: center;
  }
  .l-b-pets-feature-card1 {
    height: 313px;
  }
  .l-b-pets-text22 {
    color: rgb(209, 216, 234);
  }
  .l-b-pets-text25 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .l-b-pets-text27 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .l-b-pets-container11 {
    top: 2px;
    left: 441px;
    width: 179px;
    height: 54px;
  }
  .l-b-pets-text29 {
    color: rgb(209, 216, 234);
    width: 333px;
    height: 39px;
    align-self: center;
  }
  .l-b-pets-feature-card2 {
    height: 308px;
  }
  .l-b-pets-text30 {
    color: rgb(209, 216, 234);
  }
  .l-b-pets-text33 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .l-b-pets-text35 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .l-b-pets-text37 {
    color: rgb(209, 216, 234);
    width: 333px;
    height: 39px;
    align-self: center;
  }
  .l-b-pets-feature-card3 {
    height: 309px;
  }
  .l-b-pets-text38 {
    color: rgb(209, 216, 234);
  }
  .l-b-pets-text41 {
    color: rgb(209, 216, 234);
  }
  .l-b-pets-text44 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .l-b-pets-text47 {
    color: rgb(209, 216, 234);
    width: 333px;
    height: 39px;
    align-self: center;
  }
  .l-b-pets-feature-card4 {
    height: 306px;
  }
  .l-b-pets-text48 {
    color: rgb(209, 216, 234);
  }
  .l-b-pets-text51 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .l-b-pets-text54 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .l-b-pets-container21 {
    top: 2px;
    left: 441px;
    width: 179px;
    height: 54px;
  }
  .l-b-pets-text57 {
    color: rgb(209, 216, 234);
    width: 333px;
    height: 39px;
    align-self: center;
  }
  .l-b-pets-feature-card5 {
    height: 308px;
  }
  .l-b-pets-container22 {
    left: 4px;
    bottom: -1px;
  }
  .l-b-pets-text58 {
    color: rgb(209, 216, 234);
  }
  .l-b-pets-text62 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .l-b-pets-text65 {
    color: rgb(209, 216, 234);
  }
  .l-b-pets-container25 {
    top: 2px;
    left: 441px;
    width: 179px;
    height: 54px;
  }
  .l-b-pets-text69 {
    color: rgb(209, 216, 234);
    width: 333px;
    height: 39px;
    align-self: center;
  }
  .l-b-pets-feature-card6 {
    height: 518px;
    padding-top: 112px;
  }
  .l-b-pets-text73 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 1024px) {
  .l-b-pets-container02 {
    display: none;
  }
  .l-b-pets-hero {
    height: auto;
    flex-direction: column;
  }
  .l-b-pets-container03 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .l-b-pets-text05 {
    text-align: center;
  }
  .l-b-pets-text13 {
    font-weight: 600;
  }
  .l-b-pets-text16 {
    font-weight: 600;
  }
  .l-b-pets-text18 {
    font-weight: 600;
  }
  .l-b-pets-text21 {
    font-weight: 600;
  }
  .l-b-pets-text22 {
    font-weight: 600;
  }
  .l-b-pets-text25 {
    font-weight: 600;
  }
  .l-b-pets-text27 {
    font-weight: 600;
  }
  .l-b-pets-text29 {
    font-weight: 600;
  }
  .l-b-pets-text30 {
    font-weight: 600;
  }
  .l-b-pets-text33 {
    font-weight: 600;
  }
  .l-b-pets-text35 {
    font-weight: 600;
  }
  .l-b-pets-text37 {
    font-weight: 600;
  }
  .l-b-pets-text38 {
    font-weight: 600;
  }
  .l-b-pets-text41 {
    font-weight: 600;
  }
  .l-b-pets-text44 {
    font-weight: 600;
  }
  .l-b-pets-text47 {
    font-weight: 600;
  }
  .l-b-pets-text48 {
    font-weight: 600;
  }
  .l-b-pets-text51 {
    font-weight: 600;
  }
  .l-b-pets-text54 {
    font-weight: 600;
  }
  .l-b-pets-text57 {
    font-weight: 600;
  }
  .l-b-pets-text58 {
    font-weight: 600;
  }
  .l-b-pets-text62 {
    font-weight: 600;
  }
  .l-b-pets-text65 {
    font-weight: 600;
  }
  .l-b-pets-text69 {
    font-weight: 600;
  }
  .l-b-pets-turquoise-cirble1 {
    visibility: hidden;
  }
  .l-b-pets-turquoise-cirble2 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .l-b-pets-menu {
    display: none;
  }
  .l-b-pets-burger-menu {
    display: block;
  }
  .l-b-pets-text05 {
    font-size: 50px;
    text-align: center;
  }
  .l-b-pets-feature-card {
    height: 500px;
    flex-direction: row;
  }
  .l-b-pets-container04 {
    flex-direction: column;
  }
  .l-b-pets-container05 {
    flex-direction: column;
  }
  .l-b-pets-container06 {
    flex-direction: column;
  }
  .l-b-pets-container07 {
    flex-direction: column;
  }
  .l-b-pets-feature-card1 {
    height: 500px;
    flex-direction: row;
  }
  .l-b-pets-container08 {
    flex-direction: column;
  }
  .l-b-pets-container09 {
    flex-direction: column;
  }
  .l-b-pets-container10 {
    flex-direction: column;
  }
  .l-b-pets-container11 {
    flex-direction: column;
  }
  .l-b-pets-feature-card2 {
    height: 500px;
    flex-direction: row;
  }
  .l-b-pets-container12 {
    flex-direction: column;
  }
  .l-b-pets-container13 {
    flex-direction: column;
  }
  .l-b-pets-container14 {
    flex-direction: column;
  }
  .l-b-pets-feature-card3 {
    height: 500px;
    flex-direction: row;
  }
  .l-b-pets-container15 {
    flex-direction: column;
  }
  .l-b-pets-container16 {
    flex-direction: column;
  }
  .l-b-pets-container17 {
    flex-direction: column;
  }
  .l-b-pets-feature-card4 {
    height: 500px;
    flex-direction: row;
  }
  .l-b-pets-container18 {
    flex-direction: column;
  }
  .l-b-pets-container19 {
    flex-direction: column;
  }
  .l-b-pets-container20 {
    flex-direction: column;
  }
  .l-b-pets-container21 {
    flex-direction: column;
  }
  .l-b-pets-feature-card5 {
    height: 500px;
    flex-direction: row;
  }
  .l-b-pets-container22 {
    flex-direction: column;
  }
  .l-b-pets-container23 {
    flex-direction: column;
  }
  .l-b-pets-container24 {
    flex-direction: column;
  }
  .l-b-pets-container25 {
    flex-direction: column;
  }
  .l-b-pets-feature-card6 {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .l-b-pets-container02 {
    display: none;
  }
  .l-b-pets-bot {
    width: 100%;
  }
  .l-b-pets-text05 {
    width: 95%;
  }
  .l-b-pets-feature-card {
    height: 600px;
    font-size: 120;
    flex-direction: row;
  }
  .l-b-pets-container04 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container05 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container06 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container07 {
    flex-direction: column;
  }
  .l-b-pets-feature-card1 {
    height: 600px;
    font-size: 120;
    flex-direction: row;
  }
  .l-b-pets-container08 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container09 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container10 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container11 {
    flex-direction: column;
  }
  .l-b-pets-feature-card2 {
    height: 600px;
    font-size: 120;
    flex-direction: row;
  }
  .l-b-pets-container12 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container13 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container14 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-feature-card3 {
    height: 600px;
    font-size: 120;
    flex-direction: row;
  }
  .l-b-pets-container15 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container16 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container17 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-feature-card4 {
    height: 600px;
    font-size: 120;
    flex-direction: row;
  }
  .l-b-pets-container18 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container19 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container20 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container21 {
    flex-direction: column;
  }
  .l-b-pets-feature-card5 {
    height: 600px;
    font-size: 120;
    flex-direction: row;
  }
  .l-b-pets-container22 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container23 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container24 {
    font-size: 30%;
    flex-direction: column;
  }
  .l-b-pets-container25 {
    flex-direction: column;
  }
  .l-b-pets-feature-card6 {
    height: 250%;
  }
  .l-b-pets-container26 {
    height: auto;
  }
  .l-b-pets-text70 {
    height: 100%;
  }
  .l-b-pets-text73 {
    height: 100%;
    font-size: xx-small;
  }
}
