.maintenance-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(15, 12, 3) 0.00%,rgb(87, 19, 19) 100.00%);
}
.maintenance-main {
  width: 100%;
  height: 1126px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.maintenance-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.maintenance-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.maintenance-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.maintenance-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.maintenance-text {
  align-self: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.maintenance-text01 {
  color: #ffffff;
  font-size: 72px;
}
.maintenance-text03 {
  color: #ffffff;
}
.maintenance-text06 {
  color: #ffffff;
}
.maintenance-text08 {
  color: #ffffff;
}
.maintenance-text11 {
  color: #ffffff;
}
.maintenance-text12 {
  color: #ffffff;
}
.maintenance-feature-card {
  width: 100%;
  height: 558px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.maintenance-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.maintenance-text16 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.maintenance-link {
  display: contents;
}
.maintenance-text19 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.maintenance-text19:hover {
  color: #269b98;
}
.maintenance-text20 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.maintenance-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.maintenance-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .maintenance-container {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .maintenance-text {
    color: rgb(255, 255, 255);
  }
  .maintenance-text01 {
    font-size: 72px;
  }
  .maintenance-feature-card {
    height: 557px;
  }
  .maintenance-text16 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Inter;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
  }
  .maintenance-text19 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .maintenance-turquoise-cirble1 {
    top: 623px;
    right: 1160px;
  }
  .maintenance-turquoise-cirble2 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .maintenance-text01 {
    color: #ffffff;
    font-size: 72px;
  }
  .maintenance-text02 {
    color: #ffffff;
  }
  .maintenance-text03 {
    color: #ffffff;
  }
  .maintenance-text04 {
    color: #ffffff;
  }
  .maintenance-text05 {
    color: #ffffff;
  }
  .maintenance-text06 {
    color: #ffffff;
  }
  .maintenance-text07 {
    color: #ffffff;
  }
  .maintenance-text08 {
    color: #ffffff;
  }
  .maintenance-text09 {
    color: #ffffff;
  }
  .maintenance-text10 {
    color: #ffffff;
  }
  .maintenance-text11 {
    color: #ffffff;
  }
  .maintenance-text12 {
    color: #ffffff;
  }
  .maintenance-text13 {
    color: #ffffff;
  }
  .maintenance-text14 {
    color: #ffffff;
  }
  .maintenance-text15 {
    color: #ffffff;
  }
  .maintenance-feature-card {
    height: 518px;
    padding-top: 112px;
  }
  .maintenance-text19 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 1024px) {
  .maintenance-hero {
    height: auto;
    flex-direction: column;
  }
  .maintenance-container1 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .maintenance-text {
    text-align: center;
  }
  .maintenance-turquoise-cirble1 {
    visibility: hidden;
  }
  .maintenance-turquoise-cirble2 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .maintenance-text {
    font-size: 50px;
    text-align: center;
  }
  .maintenance-feature-card {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .maintenance-text {
    color: rgb(255, 255, 255);
    width: 95%;
    height: 5000px;
  }
  .maintenance-text01 {
    font-size: 72px;
  }
  .maintenance-feature-card {
    height: 250%;
  }
  .maintenance-container2 {
    height: auto;
  }
  .maintenance-text16 {
    height: 100%;
  }
  .maintenance-text19 {
    height: 100%;
    font-size: xx-small;
  }
}
