.misc-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(15, 12, 3) 0.00%,rgb(21, 14, 68) 100.00%);
}
.misc-header-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.misc-container01 {
  flex: 0 0 auto;
  width: auto;
  height: 174px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.misc-header {
  width: 100%;
  height: 174px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.misc-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.misc-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.misc-navlink {
  color: rgb(33, 215, 226);
  width: 124px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.misc-navlink:hover {
  color: #1baab3;
}
.misc-navlink01 {
  color: #e0a61b;
  width: 165px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #e0a61b;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(38, 26, 8) 0.00%,rgb(81, 57, 15) 100.00%);
}
.misc-navlink01:hover {
  color: #a17715;
}
.misc-navlink02 {
  color: #dae221;
  width: 220px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #dae221;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(62, 68, 13) 0.00%,rgb(95, 102, 16) 100.00%);
}
.misc-navlink02:hover {
  color: #9eab11;
}
.misc-navlink03 {
  color: #378aec;
  width: 174px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #378aec;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 28, 38) 0.00%,rgb(15, 53, 81) 100.00%);
}
.misc-navlink03:hover {
  color: #2a67af;
}
.misc-navlink04 {
  color: #6ae221;
  width: 244px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #6ae221;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 38, 15) 0.00%,rgb(15, 81, 21) 100.00%);
}
.misc-navlink04:hover {
  color: #489a17;
}
.misc-container02 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.misc-burger-menu {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.misc-menu1 {
  fill: #D9D9D9;
  color: var(--dl-color-turquoise-100);
  width: 24px;
  height: 24px;
  display: none;
  margin-left: var(--dl-space-space-unit);
}
.misc-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.misc-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.misc-logo1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.misc-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.misc-icon3 {
  width: 24px;
  height: 24px;
}
.misc-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.misc-navlink05 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.misc-navlink05:hover {
  color: var(--dl-color-turquoise-default);
}
.misc-text:hover {
  color: var(--dl-color-turquoise-default);
}
.misc-navlink06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.misc-navlink06:hover {
  color: var(--dl-color-turquoise-default);
}
.misc-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.misc-navlink07 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.misc-navlink07:hover {
  color: var(--dl-color-turquoise-default);
}
.misc-navlink08 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.misc-navlink08:hover {
  color: var(--dl-color-turquoise-default);
}
.misc-text04 {
  color: rgb(95, 255, 254);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.misc-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.misc-bot {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.misc-navlink09 {
  top: 12px;
  left: 12px;
  color: rgb(33, 215, 226);
  width: 180px;
  height: 58px;
  z-index: 105;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.misc-navlink09:hover {
  color: #1baab3;
}
.misc-main {
  width: 100%;
  height: 1654px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.misc-hero {
  width: 100%;
  height: 911px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.misc-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.misc-text05 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.misc-text06 {
  font-size: 72px;
}
.misc-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.misc-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.misc-feature-card {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.misc-container04 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.misc-text17 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.misc-text18 {
  color: #d1d8ea;
}
.misc-text19 {
  color: #d6b01c;
}
.misc-text20 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.misc-text21 {
  color: #d1d8ea;
}
.misc-text22 {
  color: rgb(209, 216, 234);
}
.misc-container05 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.misc-text25 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.misc-text26 {
  color: #d1d8ea;
}
.misc-text27 {
  color: #d6b01c;
}
.misc-text28 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.misc-text29 {
  color: #d1d8ea;
}
.misc-text30 {
  color: rgb(209, 216, 234);
}
.misc-container06 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.misc-text33 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.misc-text34 {
  color: #d1d8ea;
}
.misc-text35 {
  color: #d6b01c;
}
.misc-text36 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.misc-text37 {
  color: #d1d8ea;
}
.misc-text38 {
  color: rgb(209, 216, 234);
}
.misc-feature-card1 {
  width: 90%;
  height: 295px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.misc-container07 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.misc-text41 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.misc-text42 {
  color: #d1d8ea;
}
.misc-text43 {
  color: #d6b01c;
}
.misc-text44 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.misc-text45 {
  color: #d1d8ea;
}
.misc-text46 {
  color: rgb(209, 216, 234);
}
.misc-container08 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.misc-text49 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.misc-text50 {
  color: #d1d8ea;
}
.misc-text51 {
  color: #d6b01c;
}
.misc-text52 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.misc-text53 {
  color: #d1d8ea;
}
.misc-text54 {
  color: rgb(209, 216, 234);
}
.misc-container09 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.misc-text57 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.misc-text58 {
  color: #d1d8ea;
}
.misc-text59 {
  color: #d6b01c;
}
.misc-text60 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.misc-text61 {
  color: #d1d8ea;
}
.misc-text62 {
  color: rgb(209, 216, 234);
}
.misc-feature-card2 {
  width: 100%;
  height: 558px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.misc-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.misc-text65 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.misc-link {
  display: contents;
}
.misc-text68 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.misc-text68:hover {
  color: #269b98;
}
.misc-text69 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.misc-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.misc-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .misc-container {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .misc-text05 {
    color: rgb(255, 255, 255);
  }
  .misc-text06 {
    font-size: 72px;
  }
  .misc-feature-card {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .misc-text25 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .misc-text28 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .misc-feature-card1 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .misc-text49 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .misc-text52 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .misc-feature-card2 {
    height: 557px;
  }
  .misc-text65 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Inter;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
  }
  .misc-text68 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .misc-turquoise-cirble1 {
    top: 623px;
    right: 1160px;
  }
  .misc-turquoise-cirble2 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .misc-text05 {
    color: rgb(255, 255, 255);
  }
  .misc-text06 {
    font-size: 72px;
  }
  .misc-feature-card {
    height: 325px;
  }
  .misc-text17 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .misc-text25 {
    color: rgb(209, 216, 234);
  }
  .misc-text33 {
    color: rgb(209, 216, 234);
  }
  .misc-text36 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .misc-feature-card1 {
    height: 325px;
  }
  .misc-text41 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .misc-text49 {
    color: rgb(209, 216, 234);
  }
  .misc-text57 {
    color: rgb(209, 216, 234);
  }
  .misc-text60 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .misc-feature-card2 {
    height: 518px;
    padding-top: 112px;
  }
  .misc-text68 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 1024px) {
  .misc-container02 {
    display: none;
  }
  .misc-hero {
    height: auto;
    flex-direction: column;
  }
  .misc-container03 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .misc-text05 {
    text-align: center;
  }
  .misc-text17 {
    font-weight: 600;
  }
  .misc-text25 {
    font-weight: 600;
  }
  .misc-text33 {
    font-weight: 600;
  }
  .misc-text41 {
    font-weight: 600;
  }
  .misc-text49 {
    font-weight: 600;
  }
  .misc-text57 {
    font-weight: 600;
  }
  .misc-turquoise-cirble1 {
    visibility: hidden;
  }
  .misc-turquoise-cirble2 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .misc-menu {
    display: none;
  }
  .misc-burger-menu {
    display: block;
  }
  .misc-text05 {
    font-size: 50px;
    text-align: center;
  }
  .misc-feature-card {
    height: 500px;
    flex-direction: row;
  }
  .misc-container04 {
    flex-direction: column;
  }
  .misc-container05 {
    flex-direction: column;
  }
  .misc-container06 {
    flex-direction: column;
  }
  .misc-feature-card1 {
    height: 500px;
    flex-direction: row;
  }
  .misc-container07 {
    flex-direction: column;
  }
  .misc-container08 {
    flex-direction: column;
  }
  .misc-container09 {
    flex-direction: column;
  }
  .misc-feature-card2 {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .misc-container02 {
    display: none;
  }
  .misc-bot {
    width: 100%;
  }
  .misc-text05 {
    color: rgb(255, 255, 255);
    width: 95%;
  }
  .misc-text06 {
    font-size: 72px;
  }
  .misc-feature-card {
    height: 1250px;
    font-size: 105;
    flex-direction: row;
  }
  .misc-container04 {
    font-size: 30%;
    flex-direction: column;
  }
  .misc-container05 {
    font-size: 30%;
    flex-direction: column;
  }
  .misc-container06 {
    font-size: 30%;
    flex-direction: column;
  }
  .misc-feature-card1 {
    height: 1250px;
    font-size: 105;
    flex-direction: row;
  }
  .misc-container07 {
    font-size: 30%;
    flex-direction: column;
  }
  .misc-container08 {
    font-size: 30%;
    flex-direction: column;
  }
  .misc-container09 {
    font-size: 30%;
    flex-direction: column;
  }
  .misc-feature-card2 {
    height: 250%;
  }
  .misc-container10 {
    height: auto;
  }
  .misc-text65 {
    height: 100%;
  }
  .misc-text68 {
    height: 100%;
    font-size: xx-small;
  }
}
