.new-update-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(0, 0, 0) 1.00%,rgb(19, 80, 88) 100.00%);
}
.new-update-header-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.new-update-container01 {
  flex: 0 0 auto;
  width: auto;
  height: 174px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.new-update-header {
  width: 100%;
  height: 174px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-update-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-update-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.new-update-navlink {
  color: rgb(33, 215, 226);
  width: 124px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 85px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.new-update-navlink:hover {
  color: #1baab3;
}
.new-update-navlink01 {
  color: #e0a61b;
  width: 165px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 85px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #e0a61b;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(38, 26, 8) 0.00%,rgb(81, 57, 15) 100.00%);
}
.new-update-navlink01:hover {
  color: #a17715;
}
.new-update-navlink02 {
  color: #dae221;
  width: 220px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 85px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #dae221;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(62, 68, 13) 0.00%,rgb(95, 102, 16) 100.00%);
}
.new-update-navlink02:hover {
  color: #9eab11;
}
.new-update-navlink03 {
  color: #378aec;
  width: 174px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 85px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #378aec;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 28, 38) 0.00%,rgb(15, 53, 81) 100.00%);
}
.new-update-navlink03:hover {
  color: #2a67af;
}
.new-update-navlink04 {
  color: #6ae221;
  width: 244px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 85px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #6ae221;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 38, 15) 0.00%,rgb(15, 81, 21) 100.00%);
}
.new-update-navlink04:hover {
  color: #489a17;
}
.new-update-container02 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-update-burger-menu {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-update-menu1 {
  fill: #D9D9D9;
  color: var(--dl-color-turquoise-100);
  width: 24px;
  height: 24px;
  display: none;
  margin-left: var(--dl-space-space-unit);
}
.new-update-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.new-update-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.new-update-logo1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-update-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.new-update-icon3 {
  width: 24px;
  height: 24px;
}
.new-update-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.new-update-navlink05 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-update-navlink05:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-text:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-navlink06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-update-navlink06:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-navlink07 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-update-navlink07:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-navlink08 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-update-navlink08:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-text04 {
  color: rgb(95, 255, 254);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-update-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-bot {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.new-update-navlink09 {
  top: 12px;
  left: 12px;
  color: rgb(33, 215, 226);
  width: 177px;
  height: 54px;
  z-index: 105;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.new-update-navlink09:hover {
  color: #1baab3;
}
.new-update-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.new-update-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-update-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.new-update-text05 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.new-update-text06 {
  font-size: 72px;
}
.new-update-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.new-update-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.new-update-purple-circle1 {
  top: -26px;
  left: 204px;
  width: 400px;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.new-update-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.new-update-feature-card {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.new-update-container04 {
  left: 25%;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.new-update-text16 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-text17 {
  color: #d1d8ea;
}
.new-update-text18 {
  color: #d6b01c;
}
.new-update-text19 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.new-update-text20 {
  color: #6be01d;
}
.new-update-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 154px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.new-update-purple-circle2 {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.new-update-purple-circle3 {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.new-update-text21 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-container05 {
  left: 45%;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.new-update-text22 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-text23 {
  color: rgb(209, 216, 234);
}
.new-update-text24 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.new-update-text25 {
  color: #d6b01c;
}
.new-update-text28 {
  color: #6be01d;
}
.new-update-feature-card1 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: center;
  align-items: flex-start;
  padding-top: 1rem;
  flex-direction: row;
  justify-content: center;
}
.new-update-container06 {
  left: 25%;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.new-update-text29 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-text30 {
  color: #d1d8ea;
}
.new-update-text31 {
  color: #d6b01c;
}
.new-update-text32 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.new-update-text33 {
  color: #6be01d;
}
.new-update-container07 {
  left: 45%;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.new-update-text34 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-text35 {
  color: #d1d8ea;
}
.new-update-text36 {
  color: #d6b01c;
}
.new-update-text37 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.new-update-text38 {
  color: rgb(107, 224, 29);
}
.new-update-text41 {
  color: rgb(209, 216, 234);
  align-self: flex-start;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-feature-card2 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.new-update-container08 {
  left: 25%;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.new-update-text42 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-text43 {
  color: #d1d8ea;
}
.new-update-text44 {
  color: #d6b01c;
}
.new-update-text45 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.new-update-text46 {
  color: rgb(107, 224, 29);
}
.new-update-container09 {
  left: 45%;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.new-update-text49 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-text50 {
  color: #d1d8ea;
}
.new-update-text51 {
  color: #d6b01c;
}
.new-update-text52 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.new-update-text53 {
  color: rgb(107, 224, 29);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.new-update-purple-circle4 {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.new-update-turquoise-cirble3 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.new-update-text54 {
  color: rgb(209, 216, 234);
  align-self: flex-start;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-feature-card3 {
  width: 100%;
  height: 558px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.new-update-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.new-update-text55 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.new-update-link {
  display: contents;
}
.new-update-text58 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.new-update-text58:hover {
  color: #269b98;
}
.new-update-text59 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.new-update-turquoise-cirble4 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.new-update-turquoise-cirble5 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .new-update-container {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .new-update-text05 {
    color: rgb(255, 255, 255);
  }
  .new-update-text06 {
    font-size: 72px;
  }
  .new-update-feature-card {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .new-update-text16 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .new-update-text19 {
    color: rgb(155, 147, 42);
  }
  .new-update-text21 {
    color: rgb(209, 216, 234);
    margin: auto;
    position: absolute;
    font-weight: 600;
  }
  .new-update-text22 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .new-update-text24 {
    color: rgb(155, 147, 42);
  }
  .new-update-text25 {
    color: #d6b01c;
  }
  .new-update-text26 {
    color: #d6b01c;
  }
  .new-update-feature-card1 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .new-update-text29 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .new-update-text32 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .new-update-text41 {
    color: rgb(209, 216, 234);
    margin: auto;
    position: absolute;
    font-weight: 600;
  }
  .new-update-feature-card2 {
    width: 90%;
    height: 350px;
  }
  .new-update-text54 {
    color: rgb(209, 216, 234);
    margin: auto;
    position: absolute;
    font-weight: 600;
  }
  .new-update-feature-card3 {
    height: 557px;
  }
  .new-update-text55 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Inter;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
  }
  .new-update-text58 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .new-update-turquoise-cirble4 {
    top: 623px;
    right: 1160px;
  }
  .new-update-turquoise-cirble5 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .new-update-text05 {
    color: rgb(255, 255, 255);
  }
  .new-update-text06 {
    font-size: 72px;
  }
  .new-update-feature-card {
    height: 325px;
  }
  .new-update-text16 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .new-update-text21 {
    top: 27px;
    left: 428px;
    color: rgb(209, 216, 234);
    width: 333px;
    height: 39px;
    align-self: center;
  }
  .new-update-text22 {
    color: rgb(209, 216, 234);
  }
  .new-update-feature-card1 {
    height: 313px;
  }
  .new-update-text29 {
    color: rgb(209, 216, 234);
  }
  .new-update-text34 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .new-update-text41 {
    top: 17px;
    left: 466px;
    color: rgb(209, 216, 234);
    width: 333px;
    height: 39px;
    align-self: center;
  }
  .new-update-feature-card2 {
    height: 308px;
  }
  .new-update-text42 {
    color: rgb(209, 216, 234);
  }
  .new-update-text49 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .new-update-text54 {
    top: 17px;
    left: 466px;
    color: rgb(209, 216, 234);
    width: 333px;
    height: 39px;
    align-self: center;
    font-weight: 600;
  }
  .new-update-feature-card3 {
    height: 518px;
    padding-top: 112px;
  }
  .new-update-text58 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 1024px) {
  .new-update-container02 {
    display: none;
  }
  .new-update-hero {
    height: auto;
    flex-direction: column;
  }
  .new-update-container03 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .new-update-text05 {
    text-align: center;
  }
  .new-update-text16 {
    font-weight: 600;
  }
  .new-update-text21 {
    top: 39px;
    left: 385px;
    font-weight: 600;
  }
  .new-update-text22 {
    font-weight: 600;
  }
  .new-update-text29 {
    font-weight: 600;
  }
  .new-update-text34 {
    font-weight: 600;
  }
  .new-update-text41 {
    top: 26px;
    left: 411px;
    font-weight: 600;
  }
  .new-update-text42 {
    font-weight: 600;
  }
  .new-update-text49 {
    font-weight: 600;
  }
  .new-update-text54 {
    top: 26px;
    left: 411px;
    font-weight: 600;
  }
  .new-update-turquoise-cirble4 {
    visibility: hidden;
  }
  .new-update-turquoise-cirble5 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .new-update-menu {
    display: none;
  }
  .new-update-burger-menu {
    display: block;
  }
  .new-update-text05 {
    font-size: 50px;
    text-align: center;
  }
  .new-update-feature-card {
    height: 500px;
    flex-direction: row;
  }
  .new-update-container04 {
    flex-direction: column;
  }
  .new-update-container05 {
    flex-direction: column;
  }
  .new-update-feature-card1 {
    height: 500px;
    flex-direction: row;
  }
  .new-update-container06 {
    flex-direction: column;
  }
  .new-update-container07 {
    flex-direction: column;
  }
  .new-update-feature-card2 {
    height: 500px;
    flex-direction: row;
  }
  .new-update-container08 {
    flex-direction: column;
  }
  .new-update-container09 {
    flex-direction: column;
  }
  .new-update-feature-card3 {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .new-update-container02 {
    display: none;
  }
  .new-update-bot {
    width: 100%;
  }
  .new-update-text05 {
    color: rgb(255, 255, 255);
    width: 95%;
  }
  .new-update-text06 {
    font-size: 72px;
  }
  .new-update-feature-card {
    height: 600px;
    font-size: 120;
    flex-direction: row;
  }
  .new-update-container04 {
    font-size: 30%;
    flex-direction: column;
  }
  .new-update-container05 {
    font-size: 30%;
    flex-direction: column;
  }
  .new-update-feature-card1 {
    height: 600px;
    font-size: 120;
    flex-direction: row;
  }
  .new-update-container06 {
    font-size: 30%;
    flex-direction: column;
  }
  .new-update-container07 {
    font-size: 30%;
    flex-direction: column;
  }
  .new-update-feature-card2 {
    height: 600px;
    font-size: 120;
    flex-direction: row;
  }
  .new-update-container08 {
    font-size: 30%;
    flex-direction: column;
  }
  .new-update-container09 {
    font-size: 30%;
    flex-direction: column;
  }
  .new-update-feature-card3 {
    height: 250%;
  }
  .new-update-container10 {
    height: auto;
  }
  .new-update-text55 {
    height: 100%;
  }
  .new-update-text58 {
    height: 100%;
    font-size: xx-small;
  }
}
