.new-update-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(0, 0, 0) 1.00%,rgb(19, 80, 88) 100.00%);
}
.new-update-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.new-update-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-update-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-update-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.new-update-navlink {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.new-update-navlink:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-navlink01 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.new-update-navlink01:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-navlink02 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.new-update-navlink02:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-navlink03 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.new-update-navlink03:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-navlink04 {
  color: rgb(12, 249, 245);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.new-update-navlink04:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-text:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-navlink05 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.new-update-navlink05:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-container01 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-update-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-update-menu1 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.new-update-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.new-update-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.new-update-logo1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-update-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.new-update-icon3 {
  width: 24px;
  height: 24px;
}
.new-update-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.new-update-navlink06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-update-navlink06:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-navlink07 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-update-navlink07:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-navlink08 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-update-navlink08:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-navlink09 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-update-navlink09:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-text06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-update-text06:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-text07 {
  color: #ffffff;
  transition: 0.3s;
}
.new-update-text07:hover {
  color: var(--dl-color-turquoise-default);
}
.new-update-bot {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.new-update-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.new-update-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-update-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.new-update-text08 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.new-update-text09 {
  font-size: 72px;
}
.new-update-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.new-update-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.new-update-purple-circle1 {
  top: -26px;
  left: 204px;
  width: 400px;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.new-update-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.new-update-feature-card {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.new-update-container03 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.new-update-text19 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-text20 {
  color: #d1d8ea;
}
.new-update-text21 {
  color: #d6b01c;
}
.new-update-text22 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.new-update-text23 {
  color: #6be01d;
}
.new-update-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 154px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.new-update-container04 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.new-update-text24 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-text25 {
  color: rgb(209, 216, 234);
}
.new-update-text26 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.new-update-text27 {
  color: #d6b01c;
}
.new-update-text30 {
  color: #6be01d;
}
.new-update-purple-circle2 {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.new-update-purple-circle3 {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.new-update-text31 {
  color: #d1d8ea;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-feature-card1 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: center;
  align-items: flex-start;
  padding-top: 1rem;
  flex-direction: row;
  justify-content: center;
}
.new-update-container05 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.new-update-text32 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-text33 {
  color: #d1d8ea;
}
.new-update-text34 {
  color: #d6b01c;
}
.new-update-text35 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.new-update-text36 {
  color: #6be01d;
}
.new-update-container06 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.new-update-text37 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-text38 {
  color: #d1d8ea;
}
.new-update-text39 {
  color: #d6b01c;
}
.new-update-text40 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.new-update-text41 {
  color: rgb(107, 224, 29);
}
.new-update-text44 {
  color: rgb(209, 216, 234);
  align-self: flex-start;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-feature-card2 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.new-update-container07 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.new-update-text45 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-text46 {
  color: #d1d8ea;
}
.new-update-text47 {
  color: #d6b01c;
}
.new-update-text48 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.new-update-text49 {
  color: rgb(107, 224, 29);
}
.new-update-container08 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 218px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.new-update-text52 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-text53 {
  color: #d1d8ea;
}
.new-update-text54 {
  color: #d6b01c;
}
.new-update-text55 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.new-update-text56 {
  color: rgb(107, 224, 29);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.new-update-purple-circle4 {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.new-update-turquoise-cirble3 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.new-update-text57 {
  color: rgb(209, 216, 234);
  align-self: flex-start;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.new-update-feature-card3 {
  width: 100%;
  height: 513px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.new-update-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.new-update-text58 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.new-update-link {
  display: contents;
}
.new-update-text61 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.new-update-text61:hover {
  color: #269b98;
}
.new-update-text62 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.new-update-turquoise-cirble4 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.new-update-turquoise-cirble5 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .new-update-container {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .new-update-navlink02 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    text-decoration: underline;
  }
  .new-update-text08 {
    color: rgb(255, 255, 255);
  }
  .new-update-text09 {
    font-size: 72px;
  }
  .new-update-feature-card {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .new-update-text19 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .new-update-text22 {
    color: rgb(155, 147, 42);
  }
  .new-update-text24 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .new-update-text26 {
    color: rgb(155, 147, 42);
  }
  .new-update-text27 {
    color: #d6b01c;
  }
  .new-update-text28 {
    color: #d6b01c;
  }
  .new-update-text31 {
    top: 0px;
    left: 0px;
    color: rgb(209, 216, 234);
    right: 0px;
    margin: auto;
    position: absolute;
    font-weight: 600;
  }
  .new-update-feature-card1 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .new-update-text32 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .new-update-text35 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .new-update-text44 {
    top: 0px;
    left: 0px;
    color: rgb(209, 216, 234);
    right: 0px;
    margin: auto;
    position: absolute;
    font-weight: 600;
  }
  .new-update-feature-card2 {
    width: 90%;
    height: 350px;
  }
  .new-update-text57 {
    top: 0px;
    left: 0px;
    color: rgb(209, 216, 234);
    right: 0px;
    margin: auto;
    position: absolute;
    font-weight: 600;
  }
  .new-update-text61 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .new-update-turquoise-cirble4 {
    top: 623px;
    right: 1160px;
  }
  .new-update-turquoise-cirble5 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .new-update-navlink {
    color: #ffffff;
  }
  .new-update-navlink01 {
    color: #ffffff;
  }
  .new-update-navlink02 {
    color: #ffffff;
  }
  .new-update-navlink03 {
    color: #ffffff;
  }
  .new-update-navlink04 {
    color: #ffffff;
  }
  .new-update-text {
    color: #ffffff;
  }
  .new-update-navlink05 {
    color: #ffffff;
  }
  .new-update-text08 {
    color: rgb(255, 255, 255);
  }
  .new-update-text09 {
    font-size: 72px;
  }
  .new-update-feature-card {
    height: 325px;
  }
  .new-update-text19 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .new-update-text24 {
    color: rgb(209, 216, 234);
  }
  .new-update-text31 {
    color: rgb(209, 216, 234);
    width: 333px;
    height: 39px;
    align-self: center;
  }
  .new-update-feature-card1 {
    height: 313px;
  }
  .new-update-text32 {
    color: rgb(209, 216, 234);
  }
  .new-update-text37 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .new-update-text44 {
    color: rgb(209, 216, 234);
    width: 333px;
    height: 39px;
    align-self: center;
  }
  .new-update-feature-card2 {
    height: 308px;
  }
  .new-update-text45 {
    color: rgb(209, 216, 234);
  }
  .new-update-text52 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .new-update-text57 {
    color: rgb(209, 216, 234);
    width: 333px;
    height: 39px;
    align-self: center;
  }
  .new-update-feature-card3 {
    height: 518px;
    padding-top: 112px;
  }
  .new-update-text61 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 991px) {
  .new-update-container01 {
    display: none;
  }
  .new-update-hero {
    height: auto;
    flex-direction: column;
  }
  .new-update-container02 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .new-update-text08 {
    text-align: center;
  }
  .new-update-text19 {
    font-weight: 600;
  }
  .new-update-text24 {
    font-weight: 600;
  }
  .new-update-text31 {
    font-weight: 600;
  }
  .new-update-text32 {
    font-weight: 600;
  }
  .new-update-text37 {
    font-weight: 600;
  }
  .new-update-text44 {
    font-weight: 600;
  }
  .new-update-text45 {
    font-weight: 600;
  }
  .new-update-text52 {
    font-weight: 600;
  }
  .new-update-text57 {
    font-weight: 600;
  }
  .new-update-turquoise-cirble4 {
    visibility: hidden;
  }
  .new-update-turquoise-cirble5 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .new-update-menu {
    display: none;
  }
  .new-update-burger-menu {
    display: block;
  }
  .new-update-text08 {
    font-size: 50px;
    text-align: center;
  }
  .new-update-feature-card {
    height: 500px;
    flex-direction: row;
  }
  .new-update-container03 {
    flex-direction: column;
  }
  .new-update-container04 {
    flex-direction: column;
  }
  .new-update-feature-card1 {
    height: 500px;
    flex-direction: row;
  }
  .new-update-container05 {
    flex-direction: column;
  }
  .new-update-container06 {
    flex-direction: column;
  }
  .new-update-feature-card2 {
    height: 500px;
    flex-direction: row;
  }
  .new-update-container07 {
    flex-direction: column;
  }
  .new-update-container08 {
    flex-direction: column;
  }
  .new-update-feature-card3 {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .new-update-container01 {
    display: none;
  }
  .new-update-bot {
    width: 100%;
  }
  .new-update-text08 {
    color: rgb(255, 255, 255);
    width: 95%;
  }
  .new-update-text09 {
    font-size: 72px;
  }
  .new-update-feature-card {
    height: 600px;
    font-size: 120;
    flex-direction: row;
  }
  .new-update-container03 {
    font-size: 30%;
    flex-direction: column;
  }
  .new-update-container04 {
    font-size: 30%;
    flex-direction: column;
  }
  .new-update-feature-card1 {
    height: 600px;
    font-size: 120;
    flex-direction: row;
  }
  .new-update-container05 {
    font-size: 30%;
    flex-direction: column;
  }
  .new-update-container06 {
    font-size: 30%;
    flex-direction: column;
  }
  .new-update-feature-card2 {
    height: 600px;
    font-size: 120;
    flex-direction: row;
  }
  .new-update-container07 {
    font-size: 30%;
    flex-direction: column;
  }
  .new-update-container08 {
    font-size: 30%;
    flex-direction: column;
  }
  .new-update-feature-card3 {
    height: 3000;
  }
  .new-update-container09 {
    height: auto;
  }
  .new-update-text61 {
    font-size: xx-small;
    max-height: 50%;
  }
}
