.new-home-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(0, 0, 0) 1.00%,rgb(19, 80, 88) 100.00%);
}
.new-home-header-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.new-home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 174px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.new-home-header {
  width: 100%;
  height: 174px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-home-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-home-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.new-home-navlink {
  color: rgb(33, 215, 226);
  width: 124px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.new-home-navlink:hover {
  color: #1baab3;
}
.new-home-navlink01 {
  color: #e0a61b;
  width: 165px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #e0a61b;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(38, 26, 8) 0.00%,rgb(81, 57, 15) 100.00%);
}
.new-home-navlink01:hover {
  color: #a17715;
}
.new-home-navlink02 {
  color: #dae221;
  width: 220px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #dae221;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(62, 68, 13) 0.00%,rgb(95, 102, 16) 100.00%);
}
.new-home-navlink02:hover {
  color: #9eab11;
}
.new-home-navlink03 {
  color: #378aec;
  width: 174px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #378aec;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 28, 38) 0.00%,rgb(15, 53, 81) 100.00%);
}
.new-home-navlink03:hover {
  color: #2a67af;
}
.new-home-navlink04 {
  color: #6ae221;
  width: 244px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 55px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #6ae221;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 38, 15) 0.00%,rgb(15, 81, 21) 100.00%);
}
.new-home-navlink04:hover {
  color: #489a17;
}
.new-home-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-home-burger-menu {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-home-menu1 {
  fill: #D9D9D9;
  color: var(--dl-color-turquoise-100);
  width: 24px;
  height: 24px;
  display: none;
  margin-left: var(--dl-space-space-unit);
}
.new-home-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.new-home-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.new-home-logo1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.new-home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.new-home-icon3 {
  width: 24px;
  height: 24px;
}
.new-home-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.new-home-navlink05 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-home-navlink05:hover {
  color: var(--dl-color-turquoise-default);
}
.new-home-text:hover {
  color: var(--dl-color-turquoise-default);
}
.new-home-navlink06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-home-navlink06:hover {
  color: var(--dl-color-turquoise-default);
}
.new-home-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.new-home-navlink07 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-home-navlink07:hover {
  color: var(--dl-color-turquoise-default);
}
.new-home-navlink08 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-home-navlink08:hover {
  color: var(--dl-color-turquoise-default);
}
.new-home-text04 {
  color: rgb(95, 255, 254);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.new-home-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.new-home-bot {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.new-home-feature-card {
  width: 100%;
  height: 975px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  border-color: var(--dl-color-gray-900);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.new-home-text05 {
  text-align: center;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.new-home-text06 {
  color: #ffffff;
  font-size: 72px;
}
.new-home-text07 {
  color: #ffffff;
}
.new-home-text08 {
  color: #ffffff;
}
.new-home-text09 {
  color: #ffffff;
}
.new-home-text10 {
  color: #ffffff;
}
.new-home-text11 {
  color: #ffffff;
}
.new-home-text12 {
  color: #ffffff;
}
.new-home-text13 {
  color: #ffffff;
}
.new-home-text14 {
  color: #ffffff;
}
.new-home-text15 {
  color: #ffffff;
}
.new-home-text16 {
  color: #ffffff;
}
.new-home-text17 {
  color: #ffffff;
}
.new-home-text18 {
  color: #ffffff;
}
.new-home-text19 {
  color: #ffffff;
}
.new-home-text20 {
  color: #ffffff;
}
.new-home-link {
  color: #0ee7ea;
  text-decoration: underline;
}
.new-home-text21 {
  color: #ffffff;
}
.new-home-text22 {
  color: #ffffff;
}
.new-home-text23 {
  color: #18e61a;
}
.new-home-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(5, 17, 25) 0.00%,rgb(44, 62, 80) 100.00%);
}
.new-home-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.new-home-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.new-home-container3 {
  width: 100%;
  height: 1236px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.new-home-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.new-home-navlink09 {
  color: rgb(33, 215, 226);
  font-size: 35px;
  font-style: normal;
  margin-top: 20px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  padding-left: 32px;
  margin-bottom: 20px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.new-home-navlink09:hover {
  color: #1baab3;
}
.new-home-navlink10 {
  color: rgb(33, 215, 226);
  font-size: 35px;
  font-style: normal;
  margin-top: 20px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  margin-left: 15px;
  padding-top: var(--dl-space-space-unit);
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  padding-left: 32px;
  margin-bottom: 20px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.new-home-navlink10:hover {
  color: #1baab3;
}
.new-home-navlink11 {
  color: rgb(227, 19, 190);
  z-index: 150;
  font-size: 35px;
  font-style: normal;
  margin-top: 15px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-color: rgb(227, 19, 190);
  border-style: inset;
  border-width: 6px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(45, 8, 39) 0%, rgb(102, 16, 86) 100%);
}
.new-home-navlink11:hover {
  color: #960d7e;
}
.new-home-navlink12 {
  color: rgb(210, 227, 19);
  z-index: 150;
  font-size: 35px;
  font-style: normal;
  margin-top: 15px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-color: rgb(210, 227, 19);
  border-style: inset;
  border-width: 6px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(36, 38, 8) 0%, rgb(71, 81, 15) 100%);
}
.new-home-navlink12:hover {
  color: #97a40f;
}
.new-home-navlink13 {
  color: #e31351;
  z-index: 150;
  font-size: 35px;
  font-style: normal;
  margin-top: 15px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-color: #e31351;
  border-style: inset;
  border-width: 6px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(38, 8, 8) 0.00%,rgb(81, 15, 15) 100.00%);
}
.new-home-navlink13:hover {
  color: #b71446;
}
.new-home-navlink14 {
  color: #6ae221;
  z-index: 150;
  font-size: 35px;
  font-style: normal;
  margin-top: 15px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-color: #6ae221;
  border-style: inset;
  border-width: 6px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 38, 15) 0.00%,rgb(15, 81, 21) 100.00%);
}
.new-home-navlink14:hover {
  color: #489a17;
}
.new-home-navlink15 {
  color: #dae221;
  z-index: 150;
  font-size: 35px;
  font-style: normal;
  margin-top: 15px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-color: #dae221;
  border-style: inset;
  border-width: 6px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(62, 68, 13) 0.00%,rgb(95, 102, 16) 100.00%);
}
.new-home-navlink15:hover {
  color: #a8ad1c;
}
.new-home-navlink16 {
  color: #21d7e2;
  z-index: 150;
  font-size: 35px;
  font-style: normal;
  margin-top: 15px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0.00%,rgb(15, 81, 77) 100.00%);
}
.new-home-navlink16:hover {
  color: #1baab3;
}
.new-home-navlink17 {
  color: #6ae221;
  z-index: 150;
  font-size: 35px;
  font-style: normal;
  margin-top: 15px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-color: #5ee313;
  border-style: inset;
  border-width: 6px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 38, 15) 0.00%,rgb(15, 81, 21) 100.00%);
}
.new-home-navlink17:hover {
  color: #489a17;
}
.new-home-link1 {
  color: rgb(55, 138, 236);
  z-index: 150;
  font-size: 35px;
  font-style: normal;
  margin-top: 15px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-color: #378aec;
  border-style: inset;
  border-width: 6px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(8, 28, 38) 0%, rgb(15, 53, 81) 100%);
}
.new-home-link1:hover {
  color: #2761a0;
}
.new-home-feature-card1 {
  width: 100%;
  height: 300px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.new-home-text25 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: small;
  text-align: center;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.new-home-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.new-home-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.new-home-purple-circle1 {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.new-home-feature-card2 {
  width: 100%;
  height: 558px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.new-home-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.new-home-text28 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.new-home-link2 {
  display: contents;
}
.new-home-text31 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.new-home-text31:hover {
  color: #269b98;
}
.new-home-text32 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.new-home-turquoise-cirble3 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.new-home-turquoise-cirble4 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .new-home-text05 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
  }
  .new-home-text06 {
    font-size: 72px;
  }
  .new-home-text25 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .new-home-turquoise-cirble1 {
    top: 623px;
    right: 1160px;
  }
  .new-home-turquoise-cirble2 {
    top: 623px;
    right: 1160px;
  }
  .new-home-purple-circle1 {
    top: -340px;
    left: -51px;
    position: absolute;
  }
  .new-home-feature-card2 {
    height: 557px;
  }
  .new-home-text28 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Inter;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
  }
  .new-home-text31 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .new-home-turquoise-cirble3 {
    top: 623px;
    right: 1160px;
  }
  .new-home-turquoise-cirble4 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .new-home-feature-card {
    height: 690px;
    padding-top: 112px;
  }
  .new-home-text05 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .new-home-text06 {
    font-size: 72px;
    font-family: Montserrat;
  }
  .new-home-text07 {
    font-family: Montserrat;
  }
  .new-home-text08 {
    font-family: Montserrat;
  }
  .new-home-text09 {
    font-family: Montserrat;
  }
  .new-home-text10 {
    font-family: Montserrat;
  }
  .new-home-text11 {
    font-family: Montserrat;
  }
  .new-home-text12 {
    font-family: Montserrat;
  }
  .new-home-text13 {
    font-family: Montserrat;
  }
  .new-home-text14 {
    font-family: Montserrat;
  }
  .new-home-text15 {
    font-family: Montserrat;
  }
  .new-home-feature-card1 {
    height: 518px;
    padding-top: 112px;
  }
  .new-home-text25 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .new-home-purple-circle1 {
    top: -344px;
    left: -213px;
  }
  .new-home-feature-card2 {
    height: 518px;
    padding-top: 112px;
  }
  .new-home-text31 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 1024px) {
  .new-home-container2 {
    display: none;
  }
  .new-home-turquoise-cirble1 {
    visibility: hidden;
  }
  .new-home-turquoise-cirble2 {
    visibility: hidden;
  }
  .new-home-purple-circle1 {
    visibility: hidden;
  }
  .new-home-turquoise-cirble3 {
    visibility: hidden;
  }
  .new-home-turquoise-cirble4 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .new-home-menu {
    display: none;
  }
  .new-home-burger-menu {
    display: block;
  }
  .new-home-feature-card {
    flex-direction: row;
  }
  .new-home-turquoise-cirble {
    visibility: hidden;
    padding-left: 0px;
  }
  .new-home-purple-circle {
    width: 196px;
    height: 229px;
  }
  .new-home-feature-card1 {
    flex-direction: row;
  }
  .new-home-feature-card2 {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .new-home-container2 {
    display: none;
  }
  .new-home-bot {
    width: 100%;
  }
  .new-home-feature-card {
    height: 888px;
  }
  .new-home-text05 {
    height: 689px;
    font-size: small;
  }
  .new-home-feature-card1 {
    height: 1450px;
  }
  .new-home-text25 {
    height: 100%;
    font-size: xx-small;
  }
  .new-home-feature-card2 {
    height: 250%;
  }
  .new-home-container5 {
    height: auto;
  }
  .new-home-text28 {
    height: 100%;
  }
  .new-home-text31 {
    height: 100%;
    font-size: xx-small;
  }
}
