.perm-secrets-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(0, 0, 0) 0.00%,rgb(57, 22, 52) 75.00%,rgb(88, 19, 77) 100.00%);
}
.perm-secrets-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.perm-secrets-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.perm-secrets-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.perm-secrets-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.perm-secrets-navlink {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.perm-secrets-navlink:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-navlink01 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.perm-secrets-navlink01:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-navlink02 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.perm-secrets-navlink02:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-navlink03 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.perm-secrets-navlink03:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-navlink04 {
  color: rgb(12, 249, 245);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.perm-secrets-navlink04:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-text:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-navlink05 {
  color: #0cf9f5;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: underline;
}
.perm-secrets-navlink05:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-container01 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.perm-secrets-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.perm-secrets-menu1 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.perm-secrets-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.perm-secrets-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.perm-secrets-logo1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.perm-secrets-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.perm-secrets-icon3 {
  width: 24px;
  height: 24px;
}
.perm-secrets-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.perm-secrets-navlink06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.perm-secrets-navlink06:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-text002:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-navlink07 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.perm-secrets-navlink07:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-text004:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-navlink08 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.perm-secrets-navlink08:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-navlink09 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.perm-secrets-navlink09:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-text006 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.perm-secrets-text006:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-text007 {
  color: #ffffff;
  transition: 0.3s;
}
.perm-secrets-text007:hover {
  color: var(--dl-color-turquoise-default);
}
.perm-secrets-bot {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.perm-secrets-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.perm-secrets-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.perm-secrets-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.perm-secrets-text008 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.perm-secrets-text009 {
  font-size: 72px;
}
.perm-secrets-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.perm-secrets-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.perm-secrets-feature-card {
  width: 90%;
  height: 432px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perm-secrets-container03 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text023 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text024 {
  color: #d1d8ea;
}
.perm-secrets-text025 {
  color: rgb(214, 176, 28);
}
.perm-secrets-text028 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text029 {
  color: rgb(107, 224, 29);
}
.perm-secrets-text032 {
  color: #d1d8ea;
}
.perm-secrets-container04 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text033 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text034 {
  color: #d1d8ea;
}
.perm-secrets-text035 {
  color: #d6b01c;
}
.perm-secrets-text036 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text037 {
  color: #6be01d;
}
.perm-secrets-text038 {
  color: #d1d8ea;
}
.perm-secrets-container05 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text039 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text040 {
  color: #d1d8ea;
}
.perm-secrets-text041 {
  color: #d6b01c;
}
.perm-secrets-text042 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text043 {
  color: #6be01d;
}
.perm-secrets-text044 {
  color: rgb(209, 216, 234);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-feature-card01 {
  width: 90%;
  height: 559px;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perm-secrets-container06 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text045 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text046 {
  color: #d1d8ea;
}
.perm-secrets-text047 {
  color: #d6b01c;
}
.perm-secrets-text048 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text049 {
  color: #6be01d;
}
.perm-secrets-text050 {
  color: rgb(209, 216, 234);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-container07 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text054 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text055 {
  color: #d1d8ea;
}
.perm-secrets-text056 {
  color: #d6b01c;
}
.perm-secrets-text057 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text058 {
  color: #6be01d;
}
.perm-secrets-text059 {
  color: #d1d8ea;
}
.perm-secrets-container08 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text060 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text061 {
  color: #d1d8ea;
}
.perm-secrets-text062 {
  color: #d6b01c;
}
.perm-secrets-text063 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text064 {
  color: #6be01d;
}
.perm-secrets-text065 {
  color: #d1d8ea;
}
.perm-secrets-feature-card02 {
  width: 90%;
  height: 370px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perm-secrets-container09 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text066 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text067 {
  color: #d1d8ea;
}
.perm-secrets-text068 {
  color: #d6b01c;
}
.perm-secrets-text069 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text070 {
  color: #6be01d;
}
.perm-secrets-text071 {
  color: #d1d8ea;
}
.perm-secrets-container10 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text072 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text073 {
  color: #d1d8ea;
}
.perm-secrets-text074 {
  color: #d6b01c;
}
.perm-secrets-text075 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text076 {
  color: #6be01d;
}
.perm-secrets-text077 {
  color: #d1d8ea;
}
.perm-secrets-container11 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text078 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text079 {
  color: #d1d8ea;
}
.perm-secrets-text080 {
  color: #d6b01c;
}
.perm-secrets-text081 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text082 {
  color: #6be01d;
}
.perm-secrets-text083 {
  color: #d1d8ea;
}
.perm-secrets-feature-card03 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perm-secrets-container12 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text084 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text085 {
  color: #d1d8ea;
}
.perm-secrets-text086 {
  color: #d6b01c;
}
.perm-secrets-text087 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text088 {
  color: #6be01d;
}
.perm-secrets-text089 {
  color: #d1d8ea;
}
.perm-secrets-container13 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text090 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text091 {
  color: #d1d8ea;
}
.perm-secrets-text092 {
  color: #d6b01c;
}
.perm-secrets-text093 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text094 {
  color: #6be01d;
}
.perm-secrets-text095 {
  color: #d1d8ea;
}
.perm-secrets-container14 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text096 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text097 {
  color: #d1d8ea;
}
.perm-secrets-text098 {
  color: #d6b01c;
}
.perm-secrets-text099 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text100 {
  color: #6be01d;
}
.perm-secrets-text101 {
  color: #d1d8ea;
}
.perm-secrets-feature-card04 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perm-secrets-container15 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text102 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text103 {
  color: #d1d8ea;
}
.perm-secrets-text104 {
  color: #d6b01c;
}
.perm-secrets-text105 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text106 {
  color: #6be01d;
}
.perm-secrets-text107 {
  color: #d1d8ea;
}
.perm-secrets-container16 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text108 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text109 {
  color: #d1d8ea;
}
.perm-secrets-text110 {
  color: #d6b01c;
}
.perm-secrets-text111 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text112 {
  color: #6be01d;
}
.perm-secrets-text113 {
  color: #d1d8ea;
}
.perm-secrets-container17 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text114 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text115 {
  color: #d1d8ea;
}
.perm-secrets-text116 {
  color: #d6b01c;
}
.perm-secrets-text117 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text118 {
  color: #6be01d;
}
.perm-secrets-text119 {
  color: #d1d8ea;
}
.perm-secrets-feature-card05 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perm-secrets-container18 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text120 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text121 {
  color: #d1d8ea;
}
.perm-secrets-text122 {
  color: #d6b01c;
}
.perm-secrets-text123 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text124 {
  color: #6be01d;
}
.perm-secrets-text125 {
  color: #d1d8ea;
}
.perm-secrets-container19 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text126 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text127 {
  color: #d1d8ea;
}
.perm-secrets-text128 {
  color: #d6b01c;
}
.perm-secrets-text129 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text130 {
  color: #6be01d;
}
.perm-secrets-text131 {
  color: #d1d8ea;
}
.perm-secrets-container20 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text132 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text133 {
  color: #d1d8ea;
}
.perm-secrets-text134 {
  color: #d6b01c;
}
.perm-secrets-text135 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text136 {
  color: #6be01d;
}
.perm-secrets-text137 {
  color: #d1d8ea;
}
.perm-secrets-feature-card06 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perm-secrets-container21 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text138 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text139 {
  color: #d1d8ea;
}
.perm-secrets-text140 {
  color: #d6b01c;
}
.perm-secrets-text141 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text142 {
  color: #6be01d;
}
.perm-secrets-text143 {
  color: #d1d8ea;
}
.perm-secrets-container22 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text144 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text145 {
  color: #d1d8ea;
}
.perm-secrets-text146 {
  color: #d6b01c;
}
.perm-secrets-text147 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text148 {
  color: #6be01d;
}
.perm-secrets-text149 {
  color: #d1d8ea;
}
.perm-secrets-container23 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text150 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text151 {
  color: #d1d8ea;
}
.perm-secrets-text152 {
  color: #d6b01c;
}
.perm-secrets-text153 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text154 {
  color: #6be01d;
}
.perm-secrets-text155 {
  color: #d1d8ea;
}
.perm-secrets-feature-card07 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perm-secrets-container24 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text156 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text157 {
  color: #d1d8ea;
}
.perm-secrets-text158 {
  color: #d6b01c;
}
.perm-secrets-text159 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text160 {
  color: #6be01d;
}
.perm-secrets-text161 {
  color: #d1d8ea;
}
.perm-secrets-container25 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text162 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text163 {
  color: #d1d8ea;
}
.perm-secrets-text164 {
  color: #d6b01c;
}
.perm-secrets-text165 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text166 {
  color: #6be01d;
}
.perm-secrets-text167 {
  color: #d1d8ea;
}
.perm-secrets-container26 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text168 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text169 {
  color: #d1d8ea;
}
.perm-secrets-text170 {
  color: #d6b01c;
}
.perm-secrets-text171 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text172 {
  color: #6be01d;
}
.perm-secrets-text173 {
  color: #d1d8ea;
}
.perm-secrets-feature-card08 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perm-secrets-container27 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text174 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text175 {
  color: #d1d8ea;
}
.perm-secrets-text176 {
  color: #d6b01c;
}
.perm-secrets-text177 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text178 {
  color: #6be01d;
}
.perm-secrets-text179 {
  color: #d1d8ea;
}
.perm-secrets-container28 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text180 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text181 {
  color: #d1d8ea;
}
.perm-secrets-text182 {
  color: #d6b01c;
}
.perm-secrets-text183 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text184 {
  color: #6be01d;
}
.perm-secrets-text185 {
  color: #d1d8ea;
}
.perm-secrets-container29 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text186 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text187 {
  color: #d1d8ea;
}
.perm-secrets-text188 {
  color: #d6b01c;
}
.perm-secrets-text189 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text190 {
  color: #6be01d;
}
.perm-secrets-text191 {
  color: #d1d8ea;
}
.perm-secrets-feature-card09 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perm-secrets-container30 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text192 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text193 {
  color: #d1d8ea;
}
.perm-secrets-text194 {
  color: #d6b01c;
}
.perm-secrets-text195 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text196 {
  color: #6be01d;
}
.perm-secrets-text197 {
  color: #d1d8ea;
}
.perm-secrets-container31 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text198 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text199 {
  color: #d1d8ea;
}
.perm-secrets-text200 {
  color: #d6b01c;
}
.perm-secrets-text201 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text202 {
  color: #6be01d;
}
.perm-secrets-text203 {
  color: #d1d8ea;
}
.perm-secrets-container32 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text204 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text205 {
  color: #d1d8ea;
}
.perm-secrets-text206 {
  color: #d6b01c;
}
.perm-secrets-text207 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text208 {
  color: #6be01d;
}
.perm-secrets-text209 {
  color: #d1d8ea;
}
.perm-secrets-feature-card10 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perm-secrets-container33 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text210 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text211 {
  color: #d1d8ea;
}
.perm-secrets-text212 {
  color: #d6b01c;
}
.perm-secrets-text213 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text214 {
  color: #6be01d;
}
.perm-secrets-text215 {
  color: #d1d8ea;
}
.perm-secrets-container34 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text216 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text217 {
  color: #d1d8ea;
}
.perm-secrets-text218 {
  color: #d6b01c;
}
.perm-secrets-text219 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text220 {
  color: #6be01d;
}
.perm-secrets-text221 {
  color: #d1d8ea;
}
.perm-secrets-container35 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text222 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text223 {
  color: #d1d8ea;
}
.perm-secrets-text224 {
  color: #d6b01c;
}
.perm-secrets-text225 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text226 {
  color: #6be01d;
}
.perm-secrets-text227 {
  color: #d1d8ea;
}
.perm-secrets-feature-card11 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perm-secrets-container36 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text228 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text229 {
  color: #d1d8ea;
}
.perm-secrets-text230 {
  color: #d6b01c;
}
.perm-secrets-text231 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text232 {
  color: #6be01d;
}
.perm-secrets-text233 {
  color: #d1d8ea;
}
.perm-secrets-container37 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text234 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text235 {
  color: #d1d8ea;
}
.perm-secrets-text236 {
  color: #d6b01c;
}
.perm-secrets-text237 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text238 {
  color: #6be01d;
}
.perm-secrets-text239 {
  color: #d1d8ea;
}
.perm-secrets-container38 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text240 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text241 {
  color: #d1d8ea;
}
.perm-secrets-text242 {
  color: #d6b01c;
}
.perm-secrets-text243 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text244 {
  color: #6be01d;
}
.perm-secrets-text245 {
  color: #d1d8ea;
}
.perm-secrets-feature-card12 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perm-secrets-container39 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text246 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text247 {
  color: #d1d8ea;
}
.perm-secrets-text248 {
  color: #d6b01c;
}
.perm-secrets-text249 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text250 {
  color: #6be01d;
}
.perm-secrets-text251 {
  color: #d1d8ea;
}
.perm-secrets-container40 {
  left: 0px;
  right: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text252 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text253 {
  color: #d1d8ea;
}
.perm-secrets-text254 {
  color: #d6b01c;
}
.perm-secrets-text255 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text256 {
  color: #6be01d;
}
.perm-secrets-text257 {
  color: #d1d8ea;
}
.perm-secrets-container41 {
  right: 0px;
  width: 30%;
  bottom: 0px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text258 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text259 {
  color: #d1d8ea;
}
.perm-secrets-text260 {
  color: #d6b01c;
}
.perm-secrets-text261 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text262 {
  color: #6be01d;
}
.perm-secrets-text263 {
  color: #d1d8ea;
}
.perm-secrets-feature-card13 {
  width: 90%;
  height: 350px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.perm-secrets-container42 {
  left: 0px;
  width: 30%;
  bottom: -6px;
  height: 60%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perm-secrets-text264 {
  color: rgb(209, 216, 234);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.perm-secrets-text265 {
  color: rgb(209, 216, 234);
}
.perm-secrets-text266 {
  color: #d6b01c;
}
.perm-secrets-text267 {
  color: rgb(155, 147, 42);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-text268 {
  color: #6be01d;
}
.perm-secrets-text269 {
  color: #d1d8ea;
}
.perm-secrets-feature-card14 {
  width: 100%;
  height: 558px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.perm-secrets-container43 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.perm-secrets-text270 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-link {
  display: contents;
}
.perm-secrets-text273 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.perm-secrets-text273:hover {
  color: #269b98;
}
.perm-secrets-text274 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.perm-secrets-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.perm-secrets-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .perm-secrets-container {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .perm-secrets-navlink02 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    text-decoration: underline;
  }
  .perm-secrets-text008 {
    color: rgb(255, 255, 255);
  }
  .perm-secrets-text009 {
    font-size: 72px;
  }
  .perm-secrets-feature-card {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .perm-secrets-feature-card01 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .perm-secrets-text050 {
    color: rgb(209, 216, 234);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-feature-card02 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .perm-secrets-feature-card03 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .perm-secrets-feature-card04 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .perm-secrets-feature-card05 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .perm-secrets-feature-card06 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .perm-secrets-feature-card07 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .perm-secrets-feature-card08 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .perm-secrets-feature-card09 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .perm-secrets-feature-card10 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .perm-secrets-feature-card11 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .perm-secrets-feature-card12 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .perm-secrets-feature-card13 {
    flex: initial;
    width: 90%;
    height: 350px;
  }
  .perm-secrets-feature-card14 {
    height: 557px;
  }
  .perm-secrets-text270 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Inter;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-text273 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .perm-secrets-turquoise-cirble1 {
    top: 623px;
    right: 1160px;
  }
  .perm-secrets-turquoise-cirble2 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .perm-secrets-navlink {
    color: #ffffff;
  }
  .perm-secrets-navlink01 {
    color: #ffffff;
  }
  .perm-secrets-navlink02 {
    color: #ffffff;
  }
  .perm-secrets-navlink03 {
    color: #ffffff;
  }
  .perm-secrets-navlink04 {
    color: #ffffff;
  }
  .perm-secrets-text {
    color: #ffffff;
  }
  .perm-secrets-navlink05 {
    color: #ffffff;
  }
  .perm-secrets-text008 {
    color: rgb(255, 255, 255);
  }
  .perm-secrets-text009 {
    font-size: 72px;
  }
  .perm-secrets-feature-card {
    height: 325px;
  }
  .perm-secrets-text023 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .perm-secrets-text033 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text039 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text042 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-feature-card01 {
    height: 325px;
  }
  .perm-secrets-text045 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .perm-secrets-text054 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text060 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text063 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-feature-card02 {
    height: 325px;
  }
  .perm-secrets-text066 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .perm-secrets-text072 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text078 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text081 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-feature-card03 {
    height: 325px;
  }
  .perm-secrets-text084 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .perm-secrets-text090 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text096 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text099 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-feature-card04 {
    height: 325px;
  }
  .perm-secrets-text102 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .perm-secrets-text108 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text114 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text117 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-feature-card05 {
    height: 325px;
  }
  .perm-secrets-text120 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .perm-secrets-text126 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text132 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text135 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-feature-card06 {
    height: 325px;
  }
  .perm-secrets-text138 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .perm-secrets-text144 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text150 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text153 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-feature-card07 {
    height: 325px;
  }
  .perm-secrets-text156 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .perm-secrets-text162 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text168 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text171 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-feature-card08 {
    height: 325px;
  }
  .perm-secrets-text174 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .perm-secrets-text180 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text186 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text189 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-feature-card09 {
    height: 325px;
  }
  .perm-secrets-text192 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .perm-secrets-text198 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text204 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text207 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-feature-card10 {
    height: 325px;
  }
  .perm-secrets-text210 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .perm-secrets-text216 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text222 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text225 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-feature-card11 {
    height: 325px;
  }
  .perm-secrets-text228 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .perm-secrets-text234 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text240 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text243 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-feature-card12 {
    height: 325px;
  }
  .perm-secrets-text246 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .perm-secrets-text252 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text258 {
    color: rgb(209, 216, 234);
  }
  .perm-secrets-text261 {
    color: rgb(155, 147, 42);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
  }
  .perm-secrets-feature-card13 {
    height: 325px;
  }
  .perm-secrets-text264 {
    color: rgb(209, 216, 234);
    font-weight: 600;
  }
  .perm-secrets-feature-card14 {
    height: 518px;
    padding-top: 112px;
  }
  .perm-secrets-text273 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 991px) {
  .perm-secrets-container01 {
    display: none;
  }
  .perm-secrets-hero {
    height: auto;
    flex-direction: column;
  }
  .perm-secrets-container02 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .perm-secrets-text008 {
    text-align: center;
  }
  .perm-secrets-text045 {
    font-weight: 600;
  }
  .perm-secrets-turquoise-cirble1 {
    visibility: hidden;
  }
  .perm-secrets-turquoise-cirble2 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .perm-secrets-menu {
    display: none;
  }
  .perm-secrets-burger-menu {
    display: block;
  }
  .perm-secrets-text008 {
    font-size: 50px;
    text-align: center;
  }
  .perm-secrets-feature-card {
    height: 500px;
    flex-direction: row;
  }
  .perm-secrets-container03 {
    flex-direction: column;
  }
  .perm-secrets-container04 {
    flex-direction: column;
  }
  .perm-secrets-container05 {
    flex-direction: column;
  }
  .perm-secrets-feature-card01 {
    height: 500px;
    flex-direction: row;
  }
  .perm-secrets-container06 {
    flex-direction: column;
  }
  .perm-secrets-container07 {
    flex-direction: column;
  }
  .perm-secrets-container08 {
    flex-direction: column;
  }
  .perm-secrets-feature-card02 {
    height: 500px;
    flex-direction: row;
  }
  .perm-secrets-container09 {
    flex-direction: column;
  }
  .perm-secrets-container10 {
    flex-direction: column;
  }
  .perm-secrets-container11 {
    flex-direction: column;
  }
  .perm-secrets-feature-card03 {
    height: 500px;
    flex-direction: row;
  }
  .perm-secrets-container12 {
    flex-direction: column;
  }
  .perm-secrets-container13 {
    flex-direction: column;
  }
  .perm-secrets-container14 {
    flex-direction: column;
  }
  .perm-secrets-feature-card04 {
    height: 500px;
    flex-direction: row;
  }
  .perm-secrets-container15 {
    flex-direction: column;
  }
  .perm-secrets-container16 {
    flex-direction: column;
  }
  .perm-secrets-container17 {
    flex-direction: column;
  }
  .perm-secrets-feature-card05 {
    height: 500px;
    flex-direction: row;
  }
  .perm-secrets-container18 {
    flex-direction: column;
  }
  .perm-secrets-container19 {
    flex-direction: column;
  }
  .perm-secrets-container20 {
    flex-direction: column;
  }
  .perm-secrets-feature-card06 {
    height: 500px;
    flex-direction: row;
  }
  .perm-secrets-container21 {
    flex-direction: column;
  }
  .perm-secrets-container22 {
    flex-direction: column;
  }
  .perm-secrets-container23 {
    flex-direction: column;
  }
  .perm-secrets-feature-card07 {
    height: 500px;
    flex-direction: row;
  }
  .perm-secrets-container24 {
    flex-direction: column;
  }
  .perm-secrets-container25 {
    flex-direction: column;
  }
  .perm-secrets-container26 {
    flex-direction: column;
  }
  .perm-secrets-feature-card08 {
    height: 500px;
    flex-direction: row;
  }
  .perm-secrets-container27 {
    flex-direction: column;
  }
  .perm-secrets-container28 {
    flex-direction: column;
  }
  .perm-secrets-container29 {
    flex-direction: column;
  }
  .perm-secrets-feature-card09 {
    height: 500px;
    flex-direction: row;
  }
  .perm-secrets-container30 {
    flex-direction: column;
  }
  .perm-secrets-container31 {
    flex-direction: column;
  }
  .perm-secrets-container32 {
    flex-direction: column;
  }
  .perm-secrets-feature-card10 {
    height: 500px;
    flex-direction: row;
  }
  .perm-secrets-container33 {
    flex-direction: column;
  }
  .perm-secrets-container34 {
    flex-direction: column;
  }
  .perm-secrets-container35 {
    flex-direction: column;
  }
  .perm-secrets-feature-card11 {
    height: 500px;
    flex-direction: row;
  }
  .perm-secrets-container36 {
    flex-direction: column;
  }
  .perm-secrets-container37 {
    flex-direction: column;
  }
  .perm-secrets-container38 {
    flex-direction: column;
  }
  .perm-secrets-feature-card12 {
    height: 500px;
    flex-direction: row;
  }
  .perm-secrets-container39 {
    flex-direction: column;
  }
  .perm-secrets-container40 {
    flex-direction: column;
  }
  .perm-secrets-container41 {
    flex-direction: column;
  }
  .perm-secrets-feature-card13 {
    height: 500px;
    flex-direction: row;
  }
  .perm-secrets-container42 {
    flex-direction: column;
  }
  .perm-secrets-feature-card14 {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .perm-secrets-container01 {
    display: none;
  }
  .perm-secrets-bot {
    width: 100%;
  }
  .perm-secrets-text008 {
    color: rgb(255, 255, 255);
    width: 95%;
  }
  .perm-secrets-text009 {
    font-size: 72px;
  }
  .perm-secrets-feature-card {
    height: 950px;
    font-size: 105;
    flex-direction: row;
  }
  .perm-secrets-container03 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container04 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container05 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-feature-card01 {
    height: 950px;
    font-size: 105;
    flex-direction: row;
  }
  .perm-secrets-container06 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container07 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container08 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-feature-card02 {
    height: 950px;
    font-size: 105;
    flex-direction: row;
  }
  .perm-secrets-container09 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container10 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container11 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-feature-card03 {
    height: 950px;
    font-size: 105;
    flex-direction: row;
  }
  .perm-secrets-container12 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container13 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container14 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-feature-card04 {
    height: 950px;
    font-size: 105;
    flex-direction: row;
  }
  .perm-secrets-container15 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container16 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container17 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-feature-card05 {
    height: 950px;
    font-size: 105;
    flex-direction: row;
  }
  .perm-secrets-container18 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container19 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container20 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-feature-card06 {
    height: 950px;
    font-size: 105;
    flex-direction: row;
  }
  .perm-secrets-container21 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container22 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container23 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-feature-card07 {
    height: 950px;
    font-size: 105;
    flex-direction: row;
  }
  .perm-secrets-container24 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container25 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container26 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-feature-card08 {
    height: 950px;
    font-size: 105;
    flex-direction: row;
  }
  .perm-secrets-container27 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container28 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container29 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-feature-card09 {
    height: 950px;
    font-size: 105;
    flex-direction: row;
  }
  .perm-secrets-container30 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container31 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container32 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-feature-card10 {
    height: 950px;
    font-size: 105;
    flex-direction: row;
  }
  .perm-secrets-container33 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container34 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container35 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-feature-card11 {
    height: 950px;
    font-size: 105;
    flex-direction: row;
  }
  .perm-secrets-container36 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container37 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container38 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-feature-card12 {
    height: 950px;
    font-size: 105;
    flex-direction: row;
  }
  .perm-secrets-container39 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container40 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-container41 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-feature-card13 {
    height: 950px;
    font-size: 105;
    flex-direction: row;
  }
  .perm-secrets-container42 {
    font-size: 30%;
    flex-direction: column;
  }
  .perm-secrets-feature-card14 {
    height: 250%;
  }
  .perm-secrets-container43 {
    height: auto;
  }
  .perm-secrets-text270 {
    height: 100%;
  }
  .perm-secrets-text273 {
    height: 100%;
    font-size: xx-small;
  }
}
