.secrets-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(0, 0, 0) 1.00%,rgb(19, 80, 88) 100.00%);
}
.secrets-header-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.secrets-header {
  width: 100%;
  height: 174px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.secrets-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.secrets-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.secrets-navlink {
  color: rgb(33, 215, 226);
  width: 124px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 35px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.secrets-navlink:hover {
  color: #1baab3;
}
.secrets-navlink01 {
  color: rgb(33, 215, 226);
  width: 165px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 35px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.secrets-navlink01:hover {
  color: #1baab3;
}
.secrets-navlink02 {
  color: rgb(33, 215, 226);
  width: 220px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 35px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.secrets-navlink02:hover {
  color: #1baab3;
}
.secrets-navlink03 {
  color: rgb(33, 215, 226);
  width: 174px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 35px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.secrets-navlink03:hover {
  color: #1baab3;
}
.secrets-navlink04 {
  color: rgb(33, 215, 226);
  width: 244px;
  height: 58px;
  font-size: 20px;
  font-style: normal;
  margin-top: 35px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.secrets-navlink04:hover {
  color: #1baab3;
}
.secrets-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.secrets-burger-menu {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.secrets-menu1 {
  fill: #D9D9D9;
  color: var(--dl-color-turquoise-100);
  width: 24px;
  height: 24px;
  display: none;
  margin-left: var(--dl-space-space-unit);
}
.secrets-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.secrets-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.secrets-logo1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.secrets-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.secrets-icon3 {
  width: 24px;
  height: 24px;
}
.secrets-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.secrets-navlink05 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.secrets-navlink05:hover {
  color: var(--dl-color-turquoise-default);
}
.secrets-text:hover {
  color: var(--dl-color-turquoise-default);
}
.secrets-navlink06 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.secrets-navlink06:hover {
  color: var(--dl-color-turquoise-default);
}
.secrets-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.secrets-navlink07 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.secrets-navlink07:hover {
  color: var(--dl-color-turquoise-default);
}
.secrets-navlink08 {
  color: #5ffffe;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.secrets-navlink08:hover {
  color: var(--dl-color-turquoise-default);
}
.secrets-text04 {
  color: rgb(95, 255, 254);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline   none;
}
.secrets-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.secrets-bot {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.secrets-navlink09 {
  top: 12px;
  left: 12px;
  color: rgb(33, 215, 226);
  width: 180px;
  height: 58px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.secrets-navlink09:hover {
  color: #1baab3;
}
.secrets-feature-card {
  width: 100%;
  height: 655px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  border-color: var(--dl-color-gray-900);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.secrets-text05 {
  color: #ffffff;
  text-align: center;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.secrets-text06 {
  font-size: 72px;
}
.secrets-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.secrets-navlink10 {
  color: rgb(33, 215, 226);
  font-size: 35px;
  font-style: normal;
  margin-top: 20px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  margin-right: 15px;
  padding-left: 32px;
  margin-bottom: 20px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.secrets-navlink10:hover {
  color: #1baab3;
}
.secrets-navlink11 {
  color: rgb(33, 215, 226);
  font-size: 35px;
  font-style: normal;
  margin-top: 20px;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 700;
  margin-left: 15px;
  padding-top: var(--dl-space-space-unit);
  border-color: #21d7e2;
  border-style: inset;
  border-width: 6px;
  padding-left: 32px;
  margin-bottom: 20px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(13, 62, 68) 0%, rgb(15, 81, 77) 100%);
}
.secrets-navlink11:hover {
  color: #1baab3;
}
.secrets-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(5, 17, 25) 0.00%,rgb(44, 62, 80) 100.00%);
}
.secrets-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.secrets-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.secrets-feature-card1 {
  width: 100%;
  height: 558px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.secrets-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.secrets-text08 {
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 28px;
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.secrets-link {
  display: contents;
}
.secrets-text11 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.secrets-text11:hover {
  color: #269b98;
}
.secrets-text12 {
  font-size: 40px;
  font-family: Inter;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.secrets-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.secrets-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .secrets-text05 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
  }
  .secrets-feature-card1 {
    height: 557px;
  }
  .secrets-text08 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Inter;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
  }
  .secrets-text11 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .secrets-turquoise-cirble1 {
    top: 623px;
    right: 1160px;
  }
  .secrets-turquoise-cirble2 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .secrets-feature-card {
    height: 518px;
    padding-top: 112px;
  }
  .secrets-text05 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .secrets-feature-card1 {
    height: 518px;
    padding-top: 112px;
  }
  .secrets-text11 {
    color: #13e3df;
    text-align: center;
  }
}
@media(max-width: 1024px) {
  .secrets-container1 {
    display: none;
  }
  .secrets-turquoise-cirble1 {
    visibility: hidden;
  }
  .secrets-turquoise-cirble2 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .secrets-menu {
    display: none;
  }
  .secrets-burger-menu {
    display: block;
  }
  .secrets-feature-card {
    flex-direction: row;
  }
  .secrets-turquoise-cirble {
    visibility: hidden;
    padding-left: 0px;
  }
  .secrets-purple-circle {
    width: 196px;
    height: 229px;
  }
  .secrets-feature-card1 {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .secrets-container1 {
    display: none;
  }
  .secrets-bot {
    width: 100%;
  }
  .secrets-feature-card {
    height: 888px;
  }
  .secrets-text05 {
    height: 689px;
    font-size: small;
  }
  .secrets-feature-card1 {
    height: 250%;
  }
  .secrets-container3 {
    height: auto;
  }
  .secrets-text08 {
    height: 100%;
  }
  .secrets-text11 {
    height: 100%;
    font-size: xx-small;
  }
}
