.feature-card1-container {
  width: 476px;
  height: 149px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.feature-card1-image {
  left: 21px;
  width: 93px;
  bottom: 73px;
  height: 80px;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.feature-card1-text {
  right: -238px;
  bottom: 65px;
  position: absolute;
  align-self: flex-start;
  padding-right: 4px;
}
.feature-card1-text1 {
  top: 14px;
  left: 135px;
  position: absolute;
  align-self: flex-start;
  padding-right: 4px;
}
.feature-card1-text2 {
  top: 47px;
  right: 69px;
  position: absolute;
  align-self: flex-start;
  padding-right: 4px;
}
.feature-card1-text3 {
  left: -44px;
  bottom: 9px;
  position: absolute;
  align-self: flex-start;
  padding-right: 4px;
}
.feature-card1-text4 {
  right: -71px;
  bottom: -81px;
  position: absolute;
  align-self: flex-start;
  padding-right: 4px;
}
