<div>
  <link href="./feature-card1.css" rel="stylesheet" />
  <div class="feature-card1-container">
    <img
      alt="image"
      src="/playground_assets/01.svg"
      class="feature-card1-image"
    />
    <h5 class="feature-card1-text Headline5">
      <span>Shiny Amount - Value</span>
    </h5>
    <h5 class="feature-card1-text1 Headline5"><span>Pet Name</span></h5>
    <h5 class="feature-card1-text2 Headline5">
      <span>Normal Amount - Value</span>
    </h5>
    <h5 class="feature-card1-text3 Headline5">
      <span>Gold Amount - Value</span>
    </h5>
    <h5 class="feature-card1-text4 Headline5">
      <span>RB Amount - Value</span>
    </h5>
  </div>
</div>
